<!-- section start -->
<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="register__wrapper">
                    <h3>register</h3>
                    <form class="register__content-form" [formGroup]="regform" (ngSubmit)="register()">
                        <div class="form-group">
                            <input type="text" id="name" placeholder="Name*" formControlName="name">
                        </div>
                        <div *ngIf="name.touched && name.errors?.required" class="alert alert-danger">
                            name is required
                        </div>
                        <div class="phone_content">
                            <div class="form-group" class="left_side">
                                <select name="phoneKey" id="" formControlName="phoneKey">
                                    <option value="">code</option>
                                    <option value="{{key.num}}" *ngFor="let key of phoneKeys">{{key.num}}</option>
                                </select>
                            </div>
                            <div class="form-group" class="right_side">
                                <input type="text" id="phone" 
                                placeholder="Phone Number*" 
                                formControlName="Phone">
                            </div>
                        </div>
                        <div *ngIf="Phone.touched && Phone.errors?.required" class="alert alert-danger">
                            phone number is required
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" placeholder="Email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" placeholder="Password*" formControlName="password">
                        </div>
                        <div *ngIf="password.touched && password.errors?.required" class="alert alert-danger">
                            Password is required
                        </div>
                        <div *ngIf="password.touched && password.errors?.minlength" class="alert alert-danger">
                            password must be a latest 6 charector
                        </div>
                        <div class="form-group">
                            <input type="password" id="ConfirmPassword" placeholder="Confirm Password*"
                                formControlName="ConfirmPassword">
                        </div>
                        <div *ngIf="ConfirmPassword.touched && ConfirmPassword.value !== password.value"
                            class="alert alert-danger">
                            passwords not match
                        </div>
                        <!-- <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.minlength" 
                        class="alert alert-danger">
                            Confirm Password is required
                        </div> -->
                        <div class="form-group">
                            <select name="category" id="category"
                                class="category-select" formControlName="category">
                                <option value="">select your category*</option>
                                <option value="{{category.Id}}" *ngFor="let category of categories">
                                    {{category.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="register__btn">
                            <button class="" type="submit" 
                            [disabled]="!regform.valid" (click)="saveData()">
                            register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div class="new__account">
                    <img src="../../../assets/images/register.jpeg" alt="">
                    <p> Already have an Account</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem doloremque ab in
                        dignissimos, quis, eius sed minima non nobis officiis.
                    </p>
                    <div class="create-account">
                        <button class="w-100" (click)="loginNav()" >
                            login
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="socail_login">
            <p>
                OR sign up with
            </p>
            <div class="buttons">
                <button class="facebook">
                    facebook
                    <i class="fa fa-facebook"></i>
                </button>
                <button class="google">
                    google
                    <img src="../../../assets/images/google.png" alt="google">
                </button>
            </div>

        </div> -->
    </div>
    <div class="overlay" *ngIf="overlay">
    </div>
</section>
<!--Section ends-->