:host {
    .notification {
        position: relative;
        top: 150px;
        min-height: calc(100vh - 150px);
        &-container {
            padding: 10px;
            background-color: #E5EAF2;
            span {
                margin-right: 30px;
                [dir= rtl] & {
                    margin-right: 0;
                    margin-left: 30px;
                }
            }
        }
        [dir= rtl] & {
            text-align: right;
        }
    }
    .empty-notification {
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
        top: 200px;
        @extend .notification;

        p {
            text-align: center;
        }
    }
}