<div class="cart_wrapper">

    <!-- product content -->
    <div class="cart_content">
      <div class="container">
        <!-- cart content title-->
        <div class="tittle_innerpage">
          <h2>cart</h2>
          <p>( 3 ) product/s</p>
        </div>
        <div class="cart_content-details">
          <div class="cartView_wrapper">
            <div class="cart_widget">
              <div class="cart_details">
                <div class="cart_head-wrapper">
                  <div class="product_img">
                    <img src="../../../assets/images/dress.png" alt="dress">
                  </div>
                  <div class="cart_head-content">
                    <div class="product_name">
                      <a>course name</a>
                      <p>category name</p>
                    </div>
                    <div class="product_desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde voluptatem deserunt libero.
                    </div>
                    <div class="product_price">
                      <div class="original_price">
                        999.00 $
                      </div>
                      <div class="new_price">
                        333.00 $
                      </div>
                    </div>
                  </div>

                </div>
                <div class="cart_count">
                  
                  <div class="cart_total">
                    <p>total : <span>220.00 $</span></p>
                  </div>
                </div>
              </div>
         
              <div class="remove_product">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="cart_widget">
              <div class="cart_details">
                <div class="cart_head-wrapper">
                  <div class="product_img">
                    <img src="../../../assets/images/dress.png" alt="dress">
                  </div>
                  <div class="cart_head-content">
                    <div class="product_name">
                      <a>course name</a>
                      <p>category name</p>
                    </div>
                    <div class="product_desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde voluptatem deserunt libero.
                    </div>
                    <div class="product_price">
                      <div class="original_price">
                        999.00 $
                      </div>
                      <div class="new_price">
                        333.00 $
                      </div>
                    </div>
                  </div>

                </div>
                <div class="cart_count">
                  
                  <div class="cart_total">
                    <p>total : <span>220.00 $</span></p>
                  </div>
                </div>
              </div>
         
              <div class="remove_product">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="cart_widget">
              <div class="cart_details">
                <div class="cart_head-wrapper">
                  <div class="product_img">
                    <img src="../../../assets/images/dress.png" alt="dress">
                  </div>
                  <div class="cart_head-content">
                    <div class="product_name">
                      <a>course name</a>
                      <p>category name</p>
                    </div>
                    <div class="product_desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde voluptatem deserunt libero.
                    </div>
                    <div class="product_price">
                      <div class="original_price">
                        999.00 $
                      </div>
                      <div class="new_price">
                        333.00 $
                      </div>
                    </div>
                  </div>

                </div>
                <div class="cart_count">
                  
                  <div class="cart_total">
                    <p>total : <span>220.00 $</span></p>
                  </div>
                </div>
              </div>
         
              <div class="remove_product">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="cartView_btns">
              <div class="continue_shipping">
                <button class="temp_button">continue shopping</button>
              </div>
              <div class="clear_update">
                <button class="temp_button">clear cart</button>
              </div>
            </div>
          </div>

          <div class="order_summary">
            
            <div class="white-box">
              <div class="white-box-title">
                <h2>order summary</h2>
              </div>
              <div class="cart-checkout">
                <div class="cart-checkout-item">
                  <span class="">subtotal</span>
                  <span class="cart-subtotal">3000.00 $</span>
                </div>



                <div class="cart-checkout-item total-item">
                  <span>total</span>
                  <span class="cart-total">3000.00 $</span>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <button class="temp_button w-100">
                checkout
              </button>
            </div>

          </div>
          <!--End white-box-->
        </div>
      </div>
    </div>



  </div>
