<div class="content">
    <div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
            <input type="text" placeholder="Write your title">
            <textarea name="comment" id="" cols="30" rows="10" 
            placeholder="Write your complaint or suggestion.. "  formControlName="comment"></textarea>
            <div class="labels">
                <span class="mr-3">Please choose :</span>
                <label for="complaint">
                    <input value="1" type="radio" id="complaint"
                     name="contact" (change)="commentType($event.target.value)" required>
                    complaint
                  </label>
                  <label for="suggestion">
                    <input value="2" type="radio" id="suggestion" 
                    name="contact" (change)="commentType($event.target.value)" required>
                    suggestion
                  </label>
            </div>
              <button [disabled]="!contactForm.valid">Send
                <i class="fa fa-spinner fa-spin ml-2" *ngIf="commentLoading"></i>
              </button>
        </form>
       
    </div>
</div>