<div class="recommend_slider">
  <h2>{{'top-selling-courses' | translate}}</h2>
  <div class="container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
      <!-- <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div> -->
      <div ngxSlickItem class="slide" *ngFor="let topselling of topSellingCourese">
        <div class="cart_view2">
          <div class="cart_two">
              <div class="product_img">
                <a routerLink="/product/course/{{topselling.Id}}">
                  <img [src]="imagePath + topselling?.Image">
                </a>
              </div>
              <div class="product_details">
                <div class="product_name">
                  <p>
                    <ng-container *ngIf="checkLang== 'en'">{{topselling.Name}}</ng-container>
                    <ng-container *ngIf="checkLang== 'ar'">{{topselling.NameLT}}</ng-container>
                  </p>
                </div>
                <div class="product_rating text-center">
                  <bar-rating [rate]="topselling?.CourseRateValue" [readOnly]="true"></bar-rating>
                </div>
                <div class="product_price">
                  <span class="new_price">{{topselling.CurrentCost}}</span>
                  <span class="original_price">{{topselling.PreviousCost}}</span>
                </div>

              </div>
              <div class="product-action">
              <i class="fa fa-shopping-cart" (click)="addToCart(topselling.Id)"></i>
              <i class="fa fa-heart" (click)="addToFav(topselling.Id)"></i>
              <a>
                <i class="fa fa-eye d-block d-md-none"></i>
              </a>
              </div>
          </div>
        </div>
      </div>
   
    </ngx-slick-carousel>

    <!-- <div class="slider_button">
      <button class="btn-1 icon-forward view__more-btn"><span>view more</span></button>
    </div> -->
  </div>

</div>
