@import "../../variables.scss";

:host {
    ::ng-deep {
        .slick-prev:before, 
        .slick-next:before {
         color: $main-color;
         font-size: 35px;
        }
        .slick-prev {
            left: -35px;
        }
    }
    ::ng-deep {
        .br-unit {
            font-size: 23px !important;
        }
        .br-unit:after {
            content: "\2605" !important;
            color: #231F20 !important;
        }
        .br {
            margin: 0 !important;
        }
        .br-default .br-selected:after {
            color: #EDB867 !important;
        }
    }
    .product_rating  {
        display: flex;
        justify-content: center;
    }
.recommend_slider {
        margin: 80px 0;
    }
.product_name {
    color: $main-color;
}
}

.slider_button {
    text-align: center;
    width: 100%;
    margin: 40px 0;
}










@media (max-width: 340px) and (min-width: 200px) {
    .cart_view {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 768px) and (min-width: 340.1px) {
    .cart_view {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0 7px;
    }
}
@media (max-width: 991.99px) and (min-width: 768.99px) {
    .cart_view {
        max-width: 33.33%;
        -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    }
}
@media (min-width: 992px) {
    .cart_view {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        margin-bottom: 35px;
        padding: 0 10px;
    }
}


