<div class="courses">
<div class="container">
  <div class="courses__wrapper">
    <div class="left_side">
      <div class="title">
        <h3>courses</h3>
        <span></span>
      </div>
      <div class="content">
        <span>about courses</span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aut necessitatibus at corrupti accusantium deleniti omnis adipisci dicta voluptate.
        </p>
      </div>
      <div class="btns">
        <button>view all courses</button>
      </div>
      </div>
      <div class="right_side">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
        
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/images/05.jpg" alt="">
          </div>
          
        </ngx-slick-carousel>
      </div>
  </div>

</div>
</div>