<div class="course">
    <div class="container">
        <div class="course__wrapper">
            <div class="course__wrapper--details">
                <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <div class="course__wrapper--details-txt">
                    <span>about the course</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Consequatur sunt iure soluta delectus voluptatem id,
                          quod voluptas necessitatibus eligendi illo reprehenderit iste, 
                          deserunt odit. Distinctio soluta ducimus autem velit voluptatibus.
                    </p>
                </div>
            </div>
            <div class="course__wrapper--order">
              <div class="detail">
                  <p>price </p>
                  <p>100 $</p>
              </div>
              <div class="detail">
                <p>instructor</p>
                <p>amr hamdy</p>
              </div>
              <div class="detail">
                  <p>lectures</p>
                  <p>22</p>
              </div>
              <div class="detail">
                  <p>duration</p>
                  <p>3 weeks</p>
              </div>
              <div class="enroll">
                <button>enroll</button>
            </div>
            </div>
        </div>
        <div class="course__reviews">
            <h2>reviews</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                  <div class="review_comment">
                    <div class="review_comment-title">
                      <div class="product_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <span>leo messi: </span>
                      <time datetime="2016-01-01">10:10 Nov, 19 2019</time>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam illo tempore autem neque officia
                      libero sint omnis enim sit ullam cum sunt, tenetur quidem quo, repudiandae consectetur facilis
                      nisi velit?</p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="review_comment">
                    <div class="review_comment-title">
                      <div class="product_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <span>leo messi: </span>
                      <time datetime="2016-01-01">10:10 Nov, 19 2019</time>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam illo tempore autem neque officia
                      libero sint omnis enim sit ullam cum sunt, tenetur quidem quo, repudiandae consectetur facilis
                      nisi velit?</p>
                  </div>
                </div>
              </div>
              <div class="addReview">
                <div class="addReview-content">
                  <form action="#" class="">
                    <fieldset>
                      <h2>add review</h2>
                      <div class="cs-row">
                        <div class="">
                          <input type="text" class="form-control" placeholder="Review title">
                        </div>
                        <div class="add_rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="cs-row">
                        <input type="text" class="form-control" placeholder="write your e-mail">
                      </div>
                      <div class="cs-row">
                        <textarea class="form-control" placeholder="write your comment" spellcheck="false"></textarea>
                      </div>
                      <div class="text-center mt-4">
                        <button type="submit" class="temp_button">add review</button>

                      </div>
                    </fieldset>
                  </form>
                </div>

              </div>
        </div>
        <div class="recommend_slider">
            <hr class="hr-text" data-content="related courses">
            <div class="container">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          
        </div>
    </div>
</div>