<div class="course">
    <div class="container">
        <div class="course__wrapper">
            <div class="course__wrapper--details">
                <!-- <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe> -->
                <ng-container *ngIf="coursdetails?.IntroVideo; else default">
                     {{coursdetails?.IntroVideo}}
                </ng-container>
                <ng-template #default>
                    <img src="../../../assets/images/default.jpg" alt="" style="max-width: 100%;">
                </ng-template>
                <div class="course__wrapper--details-txt">
                    <span>about the course</span>
                    <p>
                        {{coursdetails?.Description}}
                    </p>
                </div>
            </div>
            <div class="course__wrapper--order">
              <div class="detail">
                <p>name </p>
                <p>{{coursdetails?.CategoryName}}</p>
            </div>
              <div class="detail">
                  <p>price </p>
                  <p class="new_price">{{coursdetails?.CurrentCost}}</p>
                  <p class="original_price">{{coursdetails?.PreviousCost}}</p>
              </div>
              <div class="detail">
                <p>instructor</p>
                <p>{{coursdetails?.Teacher.Name}}</p>
              </div>
              <!-- <div class="detail">
                  <p>lectures</p>
                  <p>22</p>
              </div>
              <div class="detail">
                  <p>duration</p>
                  <p>3 weeks</p>
              </div> -->
              <div class="enroll">
                <button>enroll</button>
                <i class="fa fa-heart" (click)="addToFav()"></i>
            </div>
            </div>
        </div>
        <div class="course__reviews content">
            <h2 *ngIf="reviews?.length">reviews</h2>
            <div class="row reviews__content" *ngIf="reviews?.length">
                <div class="col-12 col-md-4" *ngFor="let review of reviews">
                  <div class="review_comment">
                    <div>
                      <p>{{review?.StudentName}}</p>
                      <p>{{review?.CreationDate}}<p>
                    </div>
                    <p>
                      {{review?.Comment}}
                    </p>
                    <div class="product_rating">
                      <bar-rating [rate]="review?.CourseRateValue" [readOnly]="true"></bar-rating>
                    </div>
                  </div>
                </div>               
              </div>
              <div class="addReview">
                <div class="addReview-content">
                <div *ngIf="errorReview" style="width: 600px; margin: 0 auto"
                 class="alert alert-danger mb-3">{{errorReview}}</div>
                  <form  [formGroup]="reviewform" (ngSubmit)="addReview()">
                      <h2>add review</h2>
                      <div class="cs-row">
                        <div class="">
                          <input type="text" class="form-control" placeholder="Review title">
                        </div>
                        <div class="add_rating">
                          <bar-rating [readOnly]="false" formControlName="rating" [max]="5">
                          </bar-rating>
                        </div>
                      </div>
                      <div class="cs-row">
                        <textarea class="form-control" formControlName="reviewComment" 
                        placeholder="write your comment.." spellcheck="false"></textarea>
                      </div>
                      <div class="text-center mt-4">
                        <button type="submit" class="temp_button"
                        [disabled]="!reviewform.valid">add review</button>
                      </div>
                  </form>
                </div>

              </div>
        </div>
        <div class="course__comments content">
          <h2 *ngIf="comments?.length">comments</h2>
          <div class="row" *ngIf="comments?.length">
            <div class="col-12 text-center" *ngFor="let comment of comments">
              <div class="review_comment">
                <div class="review_comment-title">
                    <label for="{{comment?.Comment}}">
                      <input id="{{comment?.Comment}}" [value]='comment.Id' type="radio"
                          name="test" (change)="selectOption($event.target.value)"
                          #fondovalor>
                          <span>{{comment?.Comment}}</span>
                  </label>
                  <p class="comment"> ({{comment?.CreationDate}})</p>
                </div>
                 <div class="replys" *ngFor= "let reply of comment.Replies">
                  <p class="Replys"><span>- {{reply.ReplyText}}</span></p>
                 </div>     
              </div>
            </div> 
            <div class="comment__reply">
              <div class="add_comment">
                <div class="alert alert-danger mb-3" 
                *ngIf="errorComment" style="width: 600px; margin: 0 auto">{{errorComment}}</div>
                <form [formGroup]="form" (ngSubmit)="addcomment()">
                <textarea  placeholder="write your comment.." formControlName="comment"></textarea>
                <button class="temp_button" 
                type="submit" [disabled]="!form.valid">add comment</button>
               </form>
              </div>
              <div class="add_reply">
                <div class="alert alert-danger mb-2 mt-3" *ngIf="errorReply" style="width: 600px; margin: 0 auto">{{errorReply}}</div>
               <form [formGroup]="replyform" (ngSubmit)="addreply()">
                 <textarea  placeholder="write your reply.." formControlName="reply"></textarea>
                 <button class="temp_button" type="submit" [disabled]="!replyform.valid">add reply</button>
                </form>
              </div> 
            </div> 
                        
          </div>
        </div>
        <div class="recommend_slider">
            <hr class="hr-text" data-content="related courses">
            <div class="container">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div ngxSlickItem class="slide">
                  <div class="cart_view2">
                    <a class="prevent_click_mobile">
                    </a>
                    <div class="cart_two"><a class="prevent_click_mobile">
                        <div class="product_img">
                          <img src="../../../assets/images/05.jpg" alt="">
                        </div>
                        <div class="product_details">
                          <div class="product_name">
                            <p>children fashion</p>
                          </div>
                          <div class="product_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="product_price">
                            <span class="new_price">500.00 $ </span>
                            <span class="original_price">1000.00 $</span>
                          </div>
          
                        </div>
                      </a>
                      <div class="product-action">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-heart"></i>
                        <a>
                          <i class="fa fa-eye d-block d-md-none"></i>
                        </a>
                      </div>
          
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          
        </div>
    </div>
</div>