<div class="course">
  <div class="container">
    <div class="course__wrapper">
      <div class="course__wrapper--details">
        <ng-container *ngIf="coursdetails?.IntroVideo; else default">
          <!-- <iframe [src]="coursdetails?.IntroVideo" height="400" width="750"></iframe> -->
          <!-- https://player.vimeo.com/video/438045537 -->
          <!-- <iframe src="https://player.vimeo.com/video/438045537" height="200" frameborder="0"></iframe> -->
          <!-- {{coursdetails?.IntroVideoUriForAngular}} -->
          <iframe src="https://player.vimeo.com/video/438045537" frameborder="0" allow="autoplay; 
          fullscreen" allowfullscreen></iframe>
          <!-- <iframe [src]="coursdetails?.IntroVideoUriForAngular" 
          width="750" height="360" 
          frameborder="0" allow="autoplay; 
          fullscreen" allowfullscreen></iframe>    -->
        </ng-container>
        <ng-template #default>
          <img src="../../../assets/images/default.jpg" alt="" style="width: 100%;">
        </ng-template>
        <div class="course__wrapper--details-txt">
          <span>{{'about-the-course' | translate}}</span>
          <p>

            <ng-container *ngIf="checkLang== 'en'"> {{coursdetails?.Description}}</ng-container>
            <ng-container *ngIf="checkLang== 'ar'"> {{coursdetails?.DescriptionLT}}</ng-container>
          </p>
        </div>
      </div>
      <div class="course__wrapper--order">
        <div class="detail">
          <p>{{'Name' | translate}} </p>
          <p>
            <ng-container *ngIf="checkLang== 'en'">{{coursdetails?.CategoryName}}</ng-container>
            <ng-container *ngIf="checkLang== 'ar'">{{coursdetails?.CategoryNameLT}}</ng-container>
          </p>
        </div>
        <div class="detail">
          <p>{{'price' | translate}} </p>
          <p class="new_price">{{coursdetails?.CurrentCost}}</p>
          <p class="original_price">{{coursdetails?.PreviousCost}}</p>
        </div>
        <div class="detail">
          <p>{{'instructor' | translate}}</p>
          <a routerLink="/Instructor/{{coursdetails.Teacher.Id}}">
            <ng-container *ngIf="checkLang== 'en'">{{coursdetails?.Teacher.Name}}</ng-container>
            <ng-container *ngIf="checkLang== 'ar'">{{coursdetails?.Teacher.NameLT}}</ng-container>
          </a>
        </div>
        <!-- <div class="detail">
                  <p>lectures</p>
                  <p>22</p>
              </div>
              <div class="detail">
                  <p>duration</p>
                  <p>3 weeks</p>
              </div> -->
        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
        <div class="enroll">
          <button (click)="addToCart()">{{'enroll' | translate}}</button>
          <i class="fa fa-heart" (click)="addToFav()"></i>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="../../../assets/images/video-icon.png" alt="">
          <span>{{'Videos' | translate}}</span>
        </ng-template>
        <div class="videos-content">
          <span>Videos here</span>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="../../../assets/images/review-icon.png" alt="">
          <span>{{'Reviews' | translate}}</span>
        </ng-template>
        <div class="course__reviews content">
          <h2 *ngIf="reviews?.length">{{'Reviews' | translate}}</h2>
          <div class="row reviews__content" *ngIf="reviews?.length">
            <div class="col-12 col-md-4" *ngFor="let review of reviews">
              <div class="review_comment">
                <div>
                  <p>
                    <ng-container *ngIf="review?.StudentPhoto; else noimg">
                      <img [src]="pathImage + review?.StudentPhoto" alt="" class="reviewImg">
                    </ng-container>
                    <ng-template #noimg>
                      <img src="../../../assets/images/Profileuser.png" alt="" class="reviewImg">
                    </ng-template>
                    {{review?.StudentName}}
                  </p>
                  <p>{{review?.CreationDate}}
                  <p>
                </div>
                <p>
                  {{review?.Comment}}
                </p>
                <div class="product_rating">
                  <bar-rating [rate]="review?.CourseRateValue" [readOnly]="true"></bar-rating>
                </div>
              </div>
            </div>
          </div>
          <div class="addReview">
            <div class="addReview-content">
              <div *ngIf="errorReview" style="width: 600px; margin: 0 auto" class="alert alert-danger mb-3">
                {{errorReview}}</div>
              <form [formGroup]="reviewform" (ngSubmit)="addReview()">
                <h2>
                  {{'add-review' | translate}}
                  <i class="fa fa-spinner fa-spin ml-2" *ngIf="reviewLoading"></i>
                </h2>
                <div class="cs-row">
                  <div class="">
                    <input type="text" class="form-control" placeholder="{{'Review-title' | translate}}">
                  </div>
                  <div class="add_rating">
                    <bar-rating [readOnly]="false" formControlName="rating" [max]="5">
                    </bar-rating>
                  </div>
                </div>
                <div class="cs-row">
                  <textarea class="form-control" formControlName="reviewComment"
                    placeholder="{{'write-your-comment' | translate}}" spellcheck="false"></textarea>
                </div>
                <div class="text-center mt-4">
                  <button type="submit" class="temp_button"
                    [disabled]="!reviewform.valid">{{'add-review' | translate}}</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="../../../assets/images/comment-icon.png" alt="">
          <span>{{'Comments' | translate}}</span>
        </ng-template>
        <div class="course__comments content">
          <h2 *ngIf="comments?.length">{{'Comments' | translate}}</h2>
          <div class="row" *ngIf="comments?.length" class="comment-content">
            <div class="col-12 p-0" *ngFor="let comment of comments; let i =index">
              <div class="review_comment">
                <div class="comment-container">
                  <ng-container *ngIf="comment?.StudentImage; else noimg">
                    <img [src]=" pathImage + comment?.StudentImage" alt="">
                  </ng-container>
                  <ng-template #noimg>
                    <img src="Profileuser.png" alt="" class="reviewImg">
                  </ng-template>
                  <div class="review_comment-title">
                    <div class="mr-3 mb-2">
                      {{comment?.StudentName}}
                      <p class="comment">{{comment?.CreationDate}}</p>
                    </div>
                    <label for="{{comment?.Comment}}" class="comment-label">
                      <input id="{{comment?.Comment}}" [value]='comment.Id' type="radio" name="test"
                        (change)="selectOption($event.target.value)" #fondovalor class="d-none">
                      <span>{{comment?.Comment}}</span>
                      <i class="fa fa-reply reply-icon" (click)="replayCommentInput()"></i>
                    </label>
                  </div>
                </div>
                <div class="replys" *ngFor="let reply of comment.Replies">
                  <p class="Replys" [ngClass]="{'margin': comment?.StudentImage }"><span>
                      - {{reply.ReplyText}}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment__reply">
            <div class="add_comment">
              <div class="alert alert-danger mb-3" *ngIf="errorComment" style="width: 524px; margin: 0 auto">
                {{errorComment}}</div>
              <form [formGroup]="form" (ngSubmit)="addcomment()">
                <textarea placeholder="{{'write-your-comment' | translate}}" formControlName="comment"></textarea>
                <button class="temp_button" type="submit" [disabled]="!form.valid">
                  {{'add-comment' | translate}}
                  <i class="fa fa-spinner fa-spin ml-2" *ngIf="commentLoading"></i></button>
              </form>
            </div>
            <div class="add_reply">
              <div class="alert alert-danger mt-3" *ngIf="errorReply" style="width: 460px; margin: 0 auto">
                {{errorReply}}</div>
              <form [formGroup]="replyform" (ngSubmit)="addreply()">
                <textarea placeholder="{{'write-your-reply'| translate}}" formControlName="reply"
                  #replyInput></textarea>
                <button class="temp_button" type="submit" [disabled]="!replyform.valid">
                  {{'add-reply' | translate}}
                  <i class="fa fa-spinner fa-spin ml-2" *ngIf="replyLoading"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="../../../assets/images/inst.png" alt="">
          <span>{{'instructor' | translate}}</span>
        </ng-template>
        <div class="instructor">
          <h2 class="">{{'about-the-author' | translate}}</h2>
          <div class="d-flex align-items-center mt-3">
            <a routerLink="/Instructor/{{coursdetails.Teacher.Id}}">

              <div class="Teacher-img">
                <img [src]="teachPath+ coursdetails.Teacher.ProfileImage" alt="">
              </div>

              <div class="Teacher-details">
                <span>
                 
                  <ng-container *ngIf="checkLang== 'en'"> {{coursdetails.Teacher.Name}}</ng-container>
                  <ng-container *ngIf="checkLang== 'ar'"> {{coursdetails.Teacher.NameLT}}</ng-container>
                </span>
                <p>
                
                  <ng-container *ngIf="checkLang== 'en'">   {{coursdetails.Teacher.Bio}}</ng-container>
                  <ng-container *ngIf="checkLang== 'ar'">   {{coursdetails.Teacher.BioLT}}</ng-container>
                </p>
              </div>
            </a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- <div class="recommend_slider">
      <h2>{{'related-courses' | translate}}</h2>
      <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfig">
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00 </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00  </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00  </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00  </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00 </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00  </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="cart_view2">
              <a class="prevent_click_mobile">
              </a>
              <div class="cart_two"><a class="prevent_click_mobile">
                  <div class="product_img">
                    <img src="../../../assets/images/05.jpg" alt="">
                  </div>
                  <div class="product_details">
                    <div class="product_name">
                      <p>children fashion</p>
                    </div>
                    <div class="product_rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product_price">
                      <span class="new_price">500.00 </span>
                      <span class="original_price">1000.00 </span>
                    </div>

                  </div>
                </a>
                <div class="product-action">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                  <a>
                    <i class="fa fa-eye d-block d-md-none"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>

    </div> -->
  </div>
</div>