@import "../../variables.scss";
:host {
    input[type="radio"]:checked+label{ 
        color: yellow !important;
        > span {
            color: red !important;
        }
     } 
    .course {
        position: relative;
        top: 70px;
        &__wrapper {
            padding: 50px 0 30px 0;
            display: flex;
            &--details {
                max-width: 67%;
                margin-right: 3%;
                flex-basis: 67%;
                &-txt {
                    margin: 30px 0;
                    span {
                        color:$main-color;
                        border-bottom: 2px solid #000;
                        text-transform: capitalize;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    p {
                        margin-top: 20px;
                    }
                }
            }
            &--order {
                max-width: 30%;
                flex-basis: 30%;
                background: #fff;
                box-shadow: 0 0 20px rgba(51,51,51,.1);
                padding: 0 15px 20px 15px;
                height: fit-content;
                width: 100%;
                min-height: 200px;
                .detail {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    border-bottom: 1px solid #eee;
                    p {
                        text-transform: capitalize;
                        &:first-of-type {
                            color: $main-color;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
                .enroll {
                    text-align: center;
                    margin-top: 20px;
                    align-items: center;
                    display: flex;
                    button {
                        padding: 10px 50px;
                        width: 100%;
                    }
                    i {
                        border: 1px solid;
                        padding: 10px;
                        margin-left: 20px;
                        border-radius: 10px;
                        color: $main-color;
                        cursor: pointer;
                    }
                }
            }
        }
        &__reviews,.content {
            padding: 30px;
            padding-left: 0;
            margin-bottom: 50px;
            border: 1px solid #eee;
            h2 {
                text-align: center;
                font-size: 25px;
                font-weight: 600;
                text-transform: capitalize;
                border-bottom: 1px solid #d0c9c9;
                width: fit-content;
                margin: 0 auto;
                padding-bottom: 5px;
                color: $main-color;
                margin-bottom: 25px;
            }

            
          .reviews__content {
            padding-bottom: 20px;
            border-bottom: 1px solid #d0c9c9;
            height: 160px;
            overflow-y: scroll;
            padding: 0 50px;
          }
          .comment-content {
              height: 300px;
              overflow-y: scroll;
          }
          .addReview {
                        
                        padding-top: 20px;
                        .addReview-content {
                            width: 60%;
                            margin: 0 auto;
                            
                            .add_rating {
                                i {
                                    cursor: pointer;
                                    &:hover {
                                        color: #ffa200;
                                    }
                                }
                            }
                            .cs-row {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                margin-top: 15px;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                .add_rating {
                                    margin-left: 15px;
                                }
                                textarea {
                                    min-height: 200px;
                                    box-shadow: none;
                                    background: none;
                                    overflow: hidden;
                                    border-radius: 20px;
                                    border: 1px solid #d1d1d1;
                                }
                            }
                            input {
                                min-width: 400px;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                background: none;
                                overflow: hidden;
                                border-radius: 20px;
                                border: 1px solid #d1d1d1;
                                font-size: 14px;
                                max-height: 44px;
                            }
                        }   
                 }  
          .product_rating {
                    margin-bottom: 10px;
                }
           .review_comment {
               margin-bottom: 30px;
                    p {
                        margin-top: 10px;
                    }
                 .replys {
                    margin-left: 20px;
                 }
                }           
            @media (max-width: 768px) {
                
                        .addReview {
                            .addReview-content {
                                .add_rating {
                                    margin-top: 15px;
                                    text-align: center;
                                }
                                .cs-row {
                                    textarea {
                                        min-width: 280px;
                                    }
                                    display: block;
                                }
                                input {
                                    min-width: 280px;
                                    max-height: 38px;
                                }
                                width: 100%;
                                margin: unset;
                            }
                        }
                    } 
            @media (max-width: 768x) {
                    .productdeatils_tabs {
                        .addReview {
                            .addReview-content {
                                .cs-row {
                                    .add_rating {
                                        margin: 15px 0;
                                    }
                                }
                            }
                        }
                    }
              }
           
        }
        .recommend_slider {
            margin-bottom: 50px;

        }
    }
    ::ng-deep {
        .slick-prev:before, 
        .slick-next:before {
         color: $main-color;
         font-size: 35px;
        }
        .slick-prev {
            left: -35px;
        }
    }
    ::ng-deep {
        .br-unit {
            font-size: 23px !important;
        }
        .br-unit:after {
            content: "\2605" !important;
            color: #231F20 !important;
        }
        .br {
            margin: 0 !important;
        }
        .br-default .br-selected:after {
            color: #EDB867 !important;
        }
        .mat-tab-body.mat-tab-body-active {
            overflow: unset;
        }
        .mat-tab-body-content {
            height: auto;
            overflow: unset;
        }
        .mat-tab-header {
            border: 1px solid #eee;
            border-bottom: 0;        
        }
        .mat-tab-label .mat-tab-label-content {
            color: #000;
            font-size: 19px;
            img {
                height: 15px;
                margin-left: 10px;
            }
        }
        .mat-tab-group {
            margin-bottom: 50px;
        }
        .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron,
        .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron {
            display: none;
        }

    }
    .comment {
        color: $main-color;
        font-weight: 800;
    }
    .comment_date {
        font-size: 14px;
        margin-left: 100px
    }
    .Replys {
 
            span {
                color: #ff5b5b;
            }
        
    }
    .add_comment {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        textarea {
            height: 150px;
        }
        button {
            margin-top: 30px;
        }
    }
    .add_reply {
        width: 100%;
        text-align: center;
        textarea {
            height: 100px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .videos-content {
        min-height: 200px;
        border: 1px solid #eee;
        padding: 30px;
    }
    textarea {
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-left: 50px;
        margin: 0 auto;
        border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
        border-image: none;
        border-radius: 6px 6px 6px 6px;
        border-style: none solid solid none;
        border-width: medium 1px 1px medium;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        color: #555555;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        padding: 10px;
        transition: background-color 0.2s ease 0s;
        resize: none;
        &:focus {
            background: none repeat scroll 0 0 #FFFFFF;
           outline-width: 0;
        }
        
    }
    .review_comment-title { 
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: #f5f5f5;
        width: fit-content;
        padding: 10px;
        input {
            // opacity: 0;
            // position: absolute;
            // cursor: pointer;
            // width: 0;
            width: fit-content;
            margin-right: 20px;
        }
        label {
            cursor: pointer;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 0;
            display: flex;
            min-width: 100px;
            align-items: center;
        }
        p {
            margin-top: 0 !important;
        }
    }
    .comment__reply {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 30px;
        .add_comment {
            max-width: 50%;
            flex-basis: 50%;
        }
        .add_reply {
            margin-left: 5%;
            max-width: 45%;
            flex-basis: 45%;
        }
    }
}



