<!-- <div class="about__us">
   <div class="container">
       <div class="abouts__us-wrapper  d-flex">
        <div class="img">
            <img src="https://static.wixstatic.com/media/9dc788_3116417c9d8c42b2a5df19d72e580e0d~mv2.png/v1/fill/w_235,h_104,al_c,lg_1,q_85/lp.webp" alt="">
        </div>
        <div class="txt">
            <p>
                is an Egyptian Leader & Innovator in Healthcare training & Consultancy in the MENA region . Prepare your team for Health aging challenges.
               Ageing populations ,Changing morbidities & rapid development in medicine & technology are creating challenges for health systems globally.
               You can prepare your team to meet these challenges with Us
               </p>
        </div>
       </div>
  
   </div>
</div> -->


<div class="goals mt-5">
    <h3>Achieve your goals with novodux</h3>
    <div class="container">
        <ul>
            <li>
            <img src="../../../assets/images/skill.png" alt="skills">
            <h4>Learn the latest skills</h4>
            </li>
            <li>
                <img src="../../../assets/images/logommc_versie_1.png" alt="career">
                <h4>Get ready for a career</h4>
            </li>
            <li>
                <img src="../../../assets/images/training.png" alt="training">
                <h4> Pratical Training</h4>
            </li>
            <li>
                <img src="../../../assets/images/career.png" alt="career">
                <h4>Upskill your organization</h4>
            </li>
        </ul>
    </div>
</div>