@import "../variables.scss";
:host {
    .courses-content {
        background: #e8ecf5;
        height: 100vh;
    }
    .lds-ripple {
        top: 30%;
        left: calc(50% + 150px);
        [dir =rtl] & {
            left: auto;
            right: 50%;
        }
    } 
    .student-courses {
        position: relative;
        top: 95px;
        height: 100vh;
        margin-bottom: 150px;
        margin-left: 350px;
        [dir= rtl] & {
            margin-left: 0;
            margin-right: 300px;
        }
        .view-btn {
            margin-bottom: 30px;
            margin-right: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 20px 30px;
            p {
                text-transform: capitalize;
                font-size: 22px;
                color: $main-color;
            }
        }
    }
    ::ng-deep {
        .br-units {
            display: flex;
            justify-content: center;
        }
        .br-unit {
            font-size: 23px !important;
        }
        .br-unit:after {
            content: "\2605" !important;
            color: #231F20 !important;
        }
        .br {
            margin: 0 !important;
        }
        .br-default .br-selected:after {
            color: #EDB867 !important;
        }
    }
    a{ 
        color: inherit;
    }
    .empty-courses {
        @extend .student-courses;
        text-align: center;
        top: 250px;
        font-size: 20px;
        text-transform: capitalize;
    }
    .load-container {
        min-height: 100vh;
    }
}

