:host {
    .lds-ripple {
        top: 30%;
    }
    .student-courses {
        position: relative;
        top: 150px;
        min-height: calc(100vh - 150px);
        margin-bottom: 150px;
        margin-left: 350px;
    }
    ::ng-deep {
        .br-units {
            display: flex;
            justify-content: center;
        }
        .br-unit {
            font-size: 23px !important;
        }
        .br-unit:after {
            content: "\2605" !important;
            color: #231F20 !important;
        }
        .br {
            margin: 0 !important;
        }
        .br-default .br-selected:after {
            color: #EDB867 !important;
        }
    }
    a{ 
        color: inherit;
    }
    .empty-courses {
        @extend .student-courses;
        text-align: center;
        top: 250px;
        font-size: 20px;
        text-transform: capitalize;
    }
    .load-container {
        min-height: 100vh;
    }
}

