:host {
  a {
    color: #000;
  }

  @media (max-width: 768px) {

    .addReview {
      .addReview-content {
        .add_rating {
          margin-top: 15px;
          text-align: center;
        }

        .cs-row {
          textarea {
            min-width: 280px;
            resize: none;

            @media (max-width: 768px) {
              min-width: auto;
            }
          }

          display: block;
        }

        input {
          min-width: 280px;
          max-height: 38px;

          @media (max-width: 768px) {
            min-width: auto;
            width: 100%;
          }
        }

        width: 100%;
        margin: unset;
      }
    }
  }

  @media (max-width: 768x) {
    .productdeatils_tabs {
      .addReview {
        .addReview-content {
          .cs-row {
            .add_rating {
              margin: 15px 0;
            }
          }
        }
      }
    }
  }

  textarea {
    resize: none;
  }

  .addReview {

    padding-top: 20px;

    .addReview-content {
      width: 60%;
      margin: 0 auto;

      textarea {
        background-color: #f6f6f6 !important;
      }

      .add_rating {
        i {
          cursor: pointer;

          &:hover {
            color: #ffa200;
          }
        }
      }

      .cs-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 15px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .add_rating {
          margin-left: 15px;
        }

        textarea {
          min-height: 200px;
          box-shadow: none;
          background: none;
          overflow: hidden;
          border-radius: 20px;
          border: 1px solid #d1d1d1;
        }
      }

      input {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: all 0.5s ease-in-out;
        border-radius: 5px 5px 5px 5px;
        width: 500px;

        @media (max-width: 768px) {
          width: auto;
        }
      }
    }

    @media (max-width: 380px) {
      width: 280px;
    }

    @media (min-width: 380.1px) and (max-width: 560px) {
      width: 350px;
    }

    // @media (min) {

    // }
  }

}

::ng-deep {
  .br-unit {
    font-size: 18px !important;
  }

  .br-unit:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-family: "FontAwesome" !important;
    content: "\f005" !important;
    color: #231F20 !important;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900 !important;
  }

  .br {
    margin: 0 !important;
  }

  .br-default .br-selected:after {
    color: #EDB867 !important;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow: unset;
  }

  .mat-tab-body-content {
    height: auto;
    overflow: unset;
  }

  .mat-tab-header {
    border: 1px solid #eee;
    border-bottom: 0;
  }

  .mat-tab-label .mat-tab-label-content {
    color: #000;
    font-size: 19px;
    font-family: 'Recursive', 'Cairo', sans-serif;

    img {
      height: 15px;
      margin-right: 10px;

      [dir=rtl] & {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  .mat-tab-group {
    margin-bottom: 200px;
    font-family: 'Recursive', 'Cairo', sans-serif;
  }

  .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron,
  .mat-tab-header-pagination-before,
  .mat-tab-header-pagination-chevron {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

}
