<div class="verify">
    <ng-container *ngIf="loading">
        <div class="lds-ripple"><div></div><div></div></div>
    </ng-container>
    <div class="img">
        <img src="../../../assets/images/verify.jpeg" alt="" style="max-width: 100%;">
    </div>
    <div class="details">
        <form [formGroup]="verifyform" (ngSubmit)="verify()">
        <input type="text" placeholder="{{'enter-code' | translate}}"  formControlName="code">
        <button type="submit" [disabled]="!verifyform.valid">{{'verify' | translate}}</button>
    </form>
    </div>
    </div>
    <div class="overlay" *ngIf="overlay">

</div>



