<div class="shop_Content">
    <div class="container">
        <div class="row">
            <div class="filter_col">
                <app-filter></app-filter>
                <div class="close_filter">
                    <button> <i class="fa fa-times"></i> </button>
                </div>
            </div>
            <div class="products_col">
                <div class="collection_box">
                    <div class="collection_view">
                        <div class="sort">
                            <span>sort by: </span>
                            <select name="" id="" class="sortby-select">
                                <option value="select size">default</option>
                                <option value="small">high to low</option>
                                <option value="large">low to high</option>
                            </select>
                        </div>
                       <!-- <div class="columns">
                            <p>view :</p>
                            <div class="three_column" (click)="widget()">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="four_column" (click)="widget()">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>  -->
                      
                        <div class="view_filter-mobile">
                            <button>
                                <i class="fas fa-filter"></i>
                                <span>filter</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="products_widget">
                    <div class="row w-100">
                        <div class="col-4" *ngFor="let course of subCourses">
                            <app-course-item [course]="course"></app-course-item>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>