
:host {
    .search_content {
        display: flex;
        justify-self: center;
        position: relative;
        top: 120px;
        margin-bottom: 170px;
        .products_widget {
            max-width: 25%;
            flex-basis: 25%;
        }
    }
    a {
        color: #000;
    }
    .product_rating {
        display: flex;
        justify-content: center;
    }
    ::ng-deep {
        .br-unit {
            font-size: 23px !important;
        }
        .br-unit:after {
            content: "\2605" !important;
            color: #231F20 !important;
        }
        .br {
            margin: 0 !important;
        }
        .br-default .br-selected:after {
            color: #EDB867 !important;
        }
    }
}