.change-password {
    position: relative;
    top: 150px;
    height: 100vh;
    .change-password-container {
        width: 40%;
        margin: auto;
        h2 {
            text-transform: capitalize;
            margin-bottom: 30px;
            border-bottom: 2px solid;
            padding-bottom: 3px;
            width: fit-content;
        }
    }
   form {
       text-align: center;
    input {
      text-transform: capitalize;
      margin-bottom: 30px;
    }
    button {
        width: 200px;
    }
   }
}