<div class="side__menu">
    <ul>
       <li>
            <a routerLink="/profile">profile</a>
        </li>
       <li>
        <a routerLink="/myCourses">{{'myCourses' | translate}}</a>
        </li>                
        <li>
        <a routerLink="/contact-us">{{'Complaint-Suggestion' | translate}}</a>
        </li>
        <li>
          <a  routerLink="/ad-order">{{'Advertisements-orders' | translate}}</a>
        </li>
       
        <li>
          <a routerLink="/changePassword">{{'changepassword' | translate}}</a>
       </li>
        <li>
          <a (click)="logout()" class="logout">
          {{'logout' | translate}}
          </a>
        </li>
       
      </ul>
</div>
<div class="change-password">
    <div class="change-password-container">
        <h2>{{'changepassword' | translate}}</h2>

        <div class="alert alert-danger" *ngIf="chageError">{{chageError}}</div>
        <form [formGroup]="chageForm" (ngSubmit)="changePassword()">
            <input type="password" placeholder="{{'entre-old-password' | translate}}" formControlName="oldPassword">
            <input type="password" placeholder="{{'entre-new-password' | translate}}" formControlName="newPassword">
            <input type="password" placeholder="{{'confirm-password' | translate}}" formControlName="confirmPassword">
            <div *ngIf="confirmPassword.touched && confirmPassword.value !== newPassword.value"
                class="alert alert-danger">
                {{'passwords-not-match' | translate}}
            </div>
            <button [disabled]='!chageForm.valid'>{{'send' | translate}}
                <i class="fa fa-spinner fa-spin ml-2" *ngIf="Loading"></i>
            </button>
        </form>
    </div>
</div>