<div class="container">
  <div class="class-details-wrapper">
    <div class="details-content">
        
    </div>
    <aside class="student-list-holder">
      <div class="student-card">
        <div class="student-img">
          <img
            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
            alt="student"
          />
        </div>
        <div class="student-info">
          <h3>Omar</h3>
          <p>Business</p>
        </div>
      </div>
      <div class="student-card">
        <div class="student-img">
          <img
            src="https://i.pinimg.com/originals/7f/79/6d/7f796d57218d9cd81a92d9e6e8e51ce4.png"
            alt="student"
          />
        </div>
        <div class="student-info">
          <h3>Ahmed</h3>
          <p>Art</p>
        </div>
      </div>
      <div class="student-card active">
        <div class="student-img">
          <img
            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
            alt="student"
          />
        </div>
        <div class="student-info">
          <h3>Omar</h3>
          <p>Business</p>
        </div>
      </div>
      <div class="student-card">
        <div class="student-img">
          <img
            src="https://i.pinimg.com/originals/7f/79/6d/7f796d57218d9cd81a92d9e6e8e51ce4.png"
            alt="student"
          />
        </div>
        <div class="student-info">
            <h3>Ahmed</h3>
            <p>Art</p>
        </div>
      </div>
    </aside>
  </div>
</div>
