@import "../../variables.scss";
:host {
  .class-details-wrapper {
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    .details-content {
      width: 50%;
      height: 500px;
      background-color: #f9f9fc;
      padding: 20px;
    }
  }
  .exams-tabs-link {
    width: 25%;
    background-color: #fff;
  }
  .student-list-holder {
    width: 25%;
    padding: 0 25px;
    > .title{
          font-size: 20px;
          font-weight: bold;
          color: #000;
          margin-bottom: 20px;
    }
    .student-card {
      display: flex;
      align-items: center;
      height: 60px;
      position: relative;
      //   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      .student-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: contain;
        }
      }
      .student-info {
        h3 {
          font-size: 16px;
          font-weight: bold;
          color: #000;
        }
        p {
          font-size: 13px;
          color: #ddd;
        }
      }
      &.active {
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: tomato;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
        }
      }
    }
  }
  .exam-list {
    .exam-card {
        display: flex;
        align-items: center;
        // border: 1px solid transparent;
        padding: 16px 24px;
        border: solid 1px #f4f4f4;
        border-radius: 10px;
        transition: all ease-in 0.4s;
        // margin-right: 20px;
        margin-bottom: 20px;
        &:hover{
            border: 1px solid #5E2266;
        }
      .exam-content {
        background-color: #F9FBFC;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 16px; 
        .exam-name{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .exam-info{
            display: flex;
            align-items: center;
            > div{
                margin-right: 25px;
                font-size: 14px;
                font-weight: 500;
                color: #2c363f;
                display: flex;
                align-items: center;
                &:last-of-type{
                    margin-right: 0;
                }
                p{
                    font-size: 14px;
                font-weight: 500;
                color: #2c363f;
                }
                i{
                    margin-right: 8px;
                }
            }
        }
      }
      .start-exam-btn{
        width: 125px;
        height: 37px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        background-color: $main-color;
        text-align: center;
      }
      .exam-result{
        font-size: 18px;
        color: #4f6170;
        width: 125px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        span{
            color: $main-color;
            font-weight: bold;
        }
      }
      .exam-dimmed{
        width: 125px;
        height: 37px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        background-color: #acb3c5;
        text-align: center;
        pointer-events: none;
      }
    }
  }
}
