<div class="container">
  <div class="class-details-wrapper">
    <aside class="exams-tabs-link">
      <div class="logo"><a routerLink="/home">
          <img
            src="https://static.wixstatic.com/media/9dc788_d3a34bea2ea84b45b6645d56c9769a49~mv2.png/v1/fill/w_193,h_60,al_c,q_85,usm_0.66_1.00_0.01/Novologo.webp"
            alt="">
        </a>
      </div>
      <ul>
        <li class="active">
          <a>videos</a>
        </li>
        <li>
          <a>comments</a>
        </li>
        <li>
          <a>reviews</a>
        </li>
      </ul>
    </aside>
    <div class="details-content">
      <!-- <div class="exams-tab-wrapper">
        <div class="exam-list">
          <div class="exam-card">
            <div class="exam-content">
              <h2 class="exam-name">English Exam</h2>
              <div class="exam-info">
                <div>
                  09:00 am | 11:00 am
                </div>
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p>2 Hours</p>
                </div>
                <div>
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  <p>6 Question</p>
                </div>
              </div>
            </div>
            <a href="" class="start-exam-btn">Start Exam</a>
          </div>
          <div class="exam-card">
            <div class="exam-content">
              <h2 class="exam-name">English Exam</h2>
              <div class="exam-info">
                <div>
                  09:00 am | 11:00 am
                </div>
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p>2 Hours</p>
                </div>
                <div>
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  <p>6 Question</p>
                </div>
              </div>
            </div>
            <p class="exam-result"> <span>29</span>/30</p>
          </div>
          <div class="exam-card">
            <div class="exam-content">
              <h2 class="exam-name">English Exam</h2>
              <div class="exam-info">
                <div>
                  09:00 am | 11:00 am
                </div>
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p>2 Hours</p>
                </div>
                <div>
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  <p>6 Question</p>
                </div>
              </div>
            </div>
            <span class="exam-dimmed">3 Days Left</span>
          </div>
        </div>
      </div> -->
      videos hereeee
    </div>
    <aside class="student-list-holder">
      <h3 class="title">Students List</h3>
      <div class="student-card">
        <div class="student-img">
          <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="student" />
        </div>
        <div class="student-info">
          <h3>Omar</h3>
          <p>Business</p>
        </div>
      </div>
      <div class="student-card">
        <div class="student-img">
          <img src="https://i.pinimg.com/originals/7f/79/6d/7f796d57218d9cd81a92d9e6e8e51ce4.png" alt="student" />
        </div>
        <div class="student-info">
          <h3>Ahmed</h3>
          <p>Art</p>
        </div>
      </div>
      <div class="student-card active">
        <div class="student-img">
          <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="student" />
        </div>
        <div class="student-info">
          <h3>Omar</h3>
          <p>Business</p>
        </div>
      </div>
      <div class="student-card">
        <div class="student-img">
          <img src="https://i.pinimg.com/originals/7f/79/6d/7f796d57218d9cd81a92d9e6e8e51ce4.png" alt="student" />
        </div>
        <div class="student-info">
          <h3>Ahmed</h3>
          <p>Art</p>
        </div>
      </div>
    </aside>
  </div>
</div>
