@import "../../variables.scss";
.ads {
    position: relative;
    img {
        max-width: 100%;
    }
    .overlay_txt {
        position: absolute;
        background: #ff5b5b;
        width: 92%;
        padding: 10px;
        bottom: -30px;
       h3 {    
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: bold;
       }
       p {
        font-size: 15px;
        color: #fff;
        text-align: center;
       }
    }
}
.advertisements {
    background-color: #f5f5f5;
    margin: 60px 0;
    padding: 40px 0;
    padding-bottom: 65px;
}
