@import "../../variables.scss";
::ng-deep {
    .slick-slide {
        padding-right: 10px;
        [dir= rtl] & {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}
.title {
    margin-top: 15px;
    border-bottom: 2px solid #5E2266;
    padding-bottom: 5px;
    width: fit-content;
    font-weight: 600;
    font-size: 25px;
    color: #5E2266;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: capitalize;
}
.ads {
    position: relative;
    img {
        max-width: 100%;
    }

}
.txt {
    background: #fff;
    padding: 10px;
    text-align: center;
   h3 {    
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
   }
}
.advertisements {
    background-color: #f5f5f5;
    margin: 60px 0;
    padding: 40px 0;
    // padding-bottom: 65px;
    margin-bottom: 0;
}

.advertisements-content {
    display: flex;
    .left {
        max-width: 25%;
        flex-basis: 25%;
        @media (max-width: 768px) {
            max-width: 100%;
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
    .right {
        max-width: 75%;
        flex-basis: 75%;
        @media (max-width: 768px) {
            max-width: 100%;
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
    @media (max-width: 768px) {
        display: block;
    }
}