<div class="main__slider">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="sliderConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="">
    </div>
    </ngx-slick-carousel>

    <div class="steps">
      <div class="steps__wrapper">
        <h3>
          search your course
        </h3>

        <div class="last">
          <div>
            <select name="sources" id="sources" class="custom-select sources" placeholder="Source Type">
              <option value="profile">Select category</option>
              <option value="word">Word</option>
              <option value="hashtag">Hashtag</option>
            </select>
          </div>
          <div>
            <select name="sources" id="sources" class="custom-select sources" placeholder="Source Type">
              <option value="profile">Select sub category</option>
              <option value="word">Word</option>
              <option value="hashtag">Hashtag</option>
            </select>
          </div>
  
          <div>
            <button>
              <i class="fa fa-search"></i>
              <span>search</span>
            </button>
          </div>
        </div>
       


      </div>
     
    </div>
  </div>