@import "../../variables.scss";
:host {
    .main__slider {
        height: calc(100vh - 50px);
        position: relative;
        top: 70px;
         img {
            height: calc(100vh - 50px);
            width: 100%;
         }
       @media (max-width: 768px) {
           top: 55px;
       }
     }
     .slider-hover {
        position: absolute;
        top: 64%;
        left: 36%;
        transform: translate(-25%, -50%);
        color: #fff;    
        text-align: left;
        z-index: 22222;
        p {
            font-size: 33px;
            margin-bottom: 0;
            font-weight: 600;
            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
        span {
            text-shadow: 1px 1px 40px #16171f;
            font-size: 18px;
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
        @media (max-width: 768px) {
            width: 90%;
            margin: 0 auto;
            left: 30%;
        }
     }
     .search {         
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0 auto;
    z-index: 222;
    @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
    }
     }
     .overlay {
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: rgba(0,0,0,.7);
         z-index: 22;
     }
}