<div class="main__slider">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="sliderConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="">
    </div>
    </ngx-slick-carousel>
    <div class="steps">
      <div class="steps__wrapper">
        <h3>
          search your course
        </h3>
        <div class="last">
          <div>
            <select name="sources" id="sources" class="custom-select sources" 
                    (change)="onChangeTaxons($event.target.value)">
              <option value="profile">Select category</option>
              <option value="{{taxon.Id}}" *ngFor= "let taxon of taxons">{{taxon.Name}}</option>
            </select>
          </div>
          <div>
            <select name="sources" id="sources" 
            class="custom-select sources"
            (change)="subCategories($event.target.value)">
              <option value="profile">Select sub category</option>
              <option value="{{subtaxon.Id}}" *ngFor= "let subtaxon of subTaxons">{{subtaxon.Name}}</option>
            </select>
          </div>  
            <div>
              <a routerLink= '/product/search'>
                <i class="fa fa-search"></i>
              <span>search</span>
              </a>
            </div>
        </div>
       


      </div>
     
    </div>
  </div>