<div class="main__slider">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="sliderConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="">
    </div>
    </ngx-slick-carousel>
     <div class="slider-hover">
        <p>Novodux assist all healthcare professionals</p>
        <span> to equipped to our facilitate patient relationships with the best tools.</span>
     </div>
     <div class="search">
     <app-search></app-search>
     </div>
     <div class="overlay">
         
     </div>
  </div>