@import "../../variables.scss";

:host {
    .header { 
        box-shadow: 0 0 8px 0 rgba(0,0,0,.17);    
        padding: 10px 0;
        &__wrapper {
            display: flex;
            align-items: center;
        }
        &__logo {
            display: flex;
            align-items: center;
            max-width: 25%;
            flex-basis: 25%;
            img {
                max-height: 50px;
            }
        }
        &__navbar {
            max-width: 50%;
            flex-basis: 50%;
        }
        .icons_search {
            max-width: 25%;
            flex-basis: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__icons {
            display: flex;
            align-items: center;

         img {
             max-height: 18px;
             margin-right: 15px;
             cursor: pointer;
         }
        }
        &__search {
            position: relative;
            input {
                border: 1px solid #f1f3f5;
                border-radius: 20px;
                background: #f1f3f5;
                min-width: 250px;
                padding: 7px 14px;
            }
            i {
                position: absolute;
                top: 12px;
                right: 16px;
                font-size: 14px;
            }
        }
        // custom views 
        .custom-overlay {
          border-color: #e38888 transparent;
          border-style: solid;
          border-width: 0 12px 12px;
          height: 0;
          width: 0;
          top: -12px;
          right: 13px;
          position: absolute;
        }
      
        .custom_content {
          transition: all 0.3s ease-in-out;
          position: absolute;
          min-width: 360px;
          top: 20px;
          right: -15px;
          transition: all 0.3s ease;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
          background-color: $white;
          border-top: 1px solid $main-color;
          padding: 30px;
          .custom_details {
            max-height: 350px;
            overflow: auto;
          }
      
          &.showcontent {
            opacity: 1;
            visibility: visible;
            top: 50px;
          }
        }
      
        .custom_row {
          padding-bottom: 5px;
          display: flex;
          align-items: center;
        }
      
        .custom_details {
          max-height: 300px;
          overflow: auto;
        }
      
        .icon_head {
          position: relative;
      
          .overlay_nummbers {
            position: absolute;
            top: -14px;
            right: -11px;
            background: $main-color;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 12px;
          }
        }
      }
      
    
     
      // box shadow
      .box-shadow {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .17);
      }
      
     
}


