    <div class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__logo">
                  <a [routerLink]="['/home']">
                    <img src="https://static.wixstatic.com/media/9dc788_d3a34bea2ea84b45b6645d56c9769a49~mv2.png/v1/fill/w_193,h_60,al_c,q_85,usm_0.66_1.00_0.01/Novologo.webp" alt="">
                  </a>
                  </div>
              <div class="header__navbar">
                <app-navbar></app-navbar>
              </div>
              <div class="icons_search">
                <div class="header__icons">
                 
                  <a [routerLink]="['/product/cart']" >
                    <img src="../../../assets/images/Cart.png" alt="">
                  </a>
                  <a routerLink="/product/wishlist">
                    <img src="../../../assets/images/wishlist.png" alt="">
                  </a>
                  <a class="drop">
                    <img src="../../../assets/images/Profile.png" alt="">
                    <div class="dropdown_one-content">
                      <ul>
                        <li *ngIf="loggedIn()">
                        <a routerLink="/contact-us">{{'Complaint-Suggestion' | translate}}</a>
                        </li>
                        <li *ngIf="loggedIn()">
                          <a  routerLink="/ad-order">{{'Advertisements-orders' | translate}}</a>
                        </li>
                        <li *ngIf="!loggedIn()">
                           <a routerLink="login">{{'login' | translate}}</a>
                        </li>
                        <li *ngIf="loggedIn()">
                          <a routerLink="changePassword">{{'changepassword' | translate}}</a>
                       </li>
                        <li>
                          <a *ngIf="loggedIn()" (click)="logout()" class="logout">
                          {{'logout' | translate}}
                          </a>
                        </li>
                       
                      </ul>
                    </div>
                  </a>
                    <a>
                      <img src="../../../assets/images/reminders.png" alt="">
                    </a>
                    
                    <a class="drop">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <div class="dropdown_one-content">
                        <ul>
                          <li (click)="changeLang('en')">
                            english
                          </li>
                          <li (click)="changeLang('ar')">
                            عربي
                          </li>
                        </ul>
                      </div>
                    </a>
                </div>
                <!-- <div class="header__search">
                    <input type="text" name="" id="" placeholder="search..">
                    <i class="fa fa-search"></i>
                </div>  -->
              </div>
              
            </div>
         
        </div>
    </div>

  
