<ng-container *ngIf="offers?.length; else noOffers">
  <div class="offers container ">
    <div class="offers-title">
      <p>{{'offers' | translate}}</p>
    </div>
    <div class="container d-flex mb-5 justify-content-center">  
        <div class="cart_view" *ngFor="let offer of offers">
              <div class="cart-offers">
                <div class="cart-offers_img">
                  <a routerLink="/product/course/{{offer.Id}}">
                  <img [src]="imagePath + offer?.Image" alt="">
                  </a>
                </div>
                  <div class="cart-offers_details">
                    <p>            
                        <ng-container *ngIf="checkLang== 'en'"> {{offer.Description}}</ng-container>
                        <ng-container *ngIf="checkLang== 'ar'"> {{offer.DescriptionLT}}</ng-container>
                    </p>
                  </div>
                <div class="product-labels">
                  <div class="discount">
                    {{offer?.DiscountValue}}% discount
                  </div>
                </div>
        
              </div>
          </div>
     </div>
  
    </div>
  
  
</ng-container>

<ng-template #noOffers>
<div class="container offers">
  <div class="offers-title">
    <p>{{'offers' | translate}}</p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <!-- <p style="font-size: 20px;">No offers yet</p> -->
    <img src="../../../assets/images/empty.jpeg" alt="" style="max-height: 400px;margin: 0 auto;">
  </div>
</div>
</ng-template>