.about-company {
    position: relative;
    height: calc(100vh - 70px);
    padding-top: 120px;
    background-color: #f5f5f5;
    text-align: center;
    h3 {
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
}