<div class="shop_Content">
    <ng-container *ngIf="loading; else loaded">
        <div class="lds-ripple"><div></div><div></div></div>
    </ng-container>
    
    <ng-template #loaded>
            <button class="filter-btn" (click)="show()">{{'show-filter' | translate}}</button>
            <div class="row">
                <div class="filter_col" [ngClass]="{'show-filter': showFilter}">
                    <div class="filter">
                        <div class="close" (click)="close()">
                            <i class="fa fa-times-circle"></i>
                        </div>
                        <div class="collect_filter">
                            <div class="filter_box">
                                <ul class="filter_box-title">
                                    <li *ngFor="let taxon of listOfCategory; let i= index">
                                        <div class="taxons-title" (click)="hideme[i] = !hideme[i]">
                                            <a (click)="Up()">
                                                <ng-container *ngIf="checkLang== 'en'">{{taxon.Name}}</ng-container>
                                                <ng-container *ngIf="checkLang== 'ar'">{{taxon.NameLT}}</ng-container>
                                            </a>
                                            <!-- <ng-container *ngIf="taxon?.SubCategories?.length && up; else test">
                                               
                                            </ng-container> -->
                                            <i class="fa fa-chevron-down" 
                                            *ngIf="taxon?.SubCategories?.length"></i>
                                            <!-- <ng-template #test>
                                                <i class="fa fa-chevron-up" 
                                                ></i>
                                            </ng-template> -->
                                            <!-- <i class="fa fa-chevron-up" 
                                            ></i> -->
                                        </div>
                                            <ul class="subtaxon" [hidden]="!hideme[i]">
                                                <li *ngFor="let subtaxon of taxon?.SubCategories" class="subtaxon-title">
                                                    <a routerLink="/product/subcourses/{{subtaxon.Id}}">
                                                        <input type="radio" name="sub" id="sub">
                                                       <label for="sub">
                                                        <ng-container *ngIf="checkLang== 'en'">{{subtaxon.Name}}</ng-container>
                                                        <ng-container *ngIf="checkLang== 'ar'">{{subtaxon.NameLT}}</ng-container>
                                                       </label>
                                                    </a>
                                                </li>
                                            </ul>                    
                                    </li>
                    
                                </ul>
                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products_col">
                    <div class="products_widget">
                        <div class="row">
                            <div class="course-col" *ngFor="let course of courses">
                                <app-course-item [course]="course"></app-course-item>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
    </ng-template>
</div>