@import "../../variables.scss";
:host {
    .collection {
        position: relative;
        top: 100px;
        margin-bottom: 200px;
    }
    .hide-filter {
        position: absolute;
        left: -400px;
    }
    .filter_box {
        text-transform: capitalize;
        position: relative;
        cursor: pointer;
        margin-bottom: 30px;
        margin-top: 30px;
        a {
            color: #000;
        }
        .taxons-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $main-color;
            a {
                color: $main-color;
                font-size: 20px;
                font-weight: 800;
            }
        }
        .filter_box-title {
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: $main-color;
            }
            i {
                font-size: 14px;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            .rotate {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .checkbox {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            cursor: pointer;
            position: relative;
            >input {
                border: 2px solid #777;
                border-radius: 5px;
                height: 17px;
                width: 17px;
                appearance: none;
                outline: none;
                transition-duration: 0.3s;
                cursor: pointer;
                &:checked {
                    + {
                        span {
                            &:before {
                                content: "\2713";
                                display: block;
                                text-align: center;
                                color: #000;
                                position: absolute;
                                left: 3px;
                                top: 2px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .filter_colors {
        .checkbox {
            >input {
                border: 0;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                &:checked {
                    + {
                        span {
                            &:before {
                                left: 5px;
                                top: 3px;
                                font-size: 14px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .green {
                &:checked {
                    background-color: #41b883;
                }
            }
            >input.green {
                background-color: #41b883;
            }
            .red {
                &:checked {
                    background-color: red;
                }
            }
            >input.red {
                background-color: red;
            }
            .black {
                &:checked {
                    background-color: #000;
                }
            }
            >input.black {
                background-color: #000;
            }
        }
    }
    .subtaxon-title {
        display: flex;
        margin-bottom: 5px;
        margin-left: 20px;
        input {
            width: fit-content;
            margin-right: 10px;
            margin-top: 5px;
        }
        label {
            margin: 0;
        }
    }
    .filter {
        padding: 20px 15px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-bottom: 70px;
        @media (max-width: 992px) {
            border: 0;
        }
        .row_head {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            justify-content: space-between;
            p {
                &:last-of-type {
                    width: 10%;
                }
                &:nth-last-of-type(2) {
                    width: 74%;
                }
            }
            .checkbox {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .bg_checkbox {
                border-radius: 6px;
                background: #fff;
                border: 2px solid #777;
                height: 17px;
                width: 17px;
                margin-bottom: 2px;
            }
        }
    
        ul {
            line-height: 1.8;
            color: #777;
            text-transform: capitalize;
            margin-left: 10px;
            margin-top: 15px;
            margin-bottom: 20px;
            li {
                margin-bottom: 10px;
            }
        }
      
    }
    .close{
        width: 100%;
        text-align: right;
        display: none;
        i {
            font-size: 24px;
            color: red;
            cursor: pointer;
        }
        @media (max-width: 992px) {
            display: block;
        }
    }
    
    // .subtaxon {
    //     height: 0;
    //     opacity: 0;
    //     visibility: hidden;
     
    // }
    .view-sub {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
    .shop_Content {
        min-height: 500px;
        margin-bottom: 40px;
        .lds-ripple {
            top: 300px;
        }
    }
    .course-col {
        max-width: 25%;
        flex-basis: 25%;
        padding: 0 5px;
        @media (max-width: 420px) {
            max-width: 100%;
            flex-basis: 100%;
            padding: 0 30px;
        }
       @media (min-width: 420.1px) and (max-width: 768px) {
        max-width: 50%;
        flex-basis: 50%;
        padding: 0 5px;
       }
    }
    
    .show-filter {
        left: 0 !important;
    }
    .filter-btn {
        margin-bottom: 30px;
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }
}