    <!-- navbar -->
    <div class="navbar">
        <div class="container">
          <ul>
        
            <li>
              <a href="shop.html">Courses</a>
              <i class="fa fa-chevron-down"></i>
              <div class="dropdown_one-content">
                <ul>
                  <li>
                    <a href="shop.html">shop page</a>
                  </li>
                  <li>
                    <a href="wishlistPage.html">wishlist Page</a>
                  </li>
                  <li>
                    <a href="productdetails.html">product details</a>
                  </li>
                  <li class="link_children">
                    drop down
                    <i class="fa fa-chevron-right"></i>
                    <div class="dropdown_one-children">
                      <ul>
                        <li>child one</li>
                        <li>child two</li>
                        <li>child three</li>
                        <li>child four</li>
                      </ul>
                    </div>

                  </li>
                  <li>
                    <a href="faq.html">faq page</a>
                  </li>
                  <li>
                    <a href="contactus.html">contact us page</a>
                  </li>
                  <li>
                    <a href="comparePage.html">compare page</a>
                  </li>
                  <li>
                    <a href="checkout.html">checkout page</a>
                  </li>
                  <li>
                    <a href="cartpage.html">cart page</a>
                  </li>
                  <li>
                    <a href="about-us.html">about us page</a>
                  </li>
                </ul>
                <!-- <div class="traingle_overflow-dropdwon">    
                  </div> -->
              </div>
            </li>           
            <li>
              <a href="contactus.html">Contact us</a>
            </li>
            <li>
              <a href="about-us.html">About us</a>
            </li>
          
          </ul>
        </div>

      </div>