    <!-- navbar -->
    <div class="navbar">
        <div class="container">
          <ul>
            <li>
             <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/product/courses">Courses</a>
              <i class="fa fa-chevron-down"></i>
               <ng-container>
                  <div class="dropdown_one-content">
                    <ul>
                      <li *ngFor="let taxon of listOfCategory">
                        <a routerLink="product/courses/{{taxon.Id}}">
                          {{taxon.Name}}
                         </a>
                      </li>
                    </ul>
                  </div>
                </ng-container>     
              <!-- <i class="fa fa-chevron-down" *ngIf="taxon.SubCategories"></i> -->
                <!-- <ng-container *ngIf="taxon.SubCategories">
                  <div class="dropdown_one-content">
                    <ul>
                      <li *ngFor="let subtaxon of taxon.SubCategories">
                        <a routerLink="product/subcourses/{{subtaxon.Id}}">
                        {{subtaxon.Name}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </ng-container> -->
               
            </li>           
            <li>
              <a>Contact us</a>
            </li>
            <li>
              <a>About us</a>
            </li>
          
          </ul>
        </div>

      </div>