/* our sass varaibles
========================*/
$main-color :#5E2266;
$second-color :#975CA1;
$third-color :#C288CE;
$fout-color: #fff5ff;
$icons-color: red;
$white: #fff;
$black : #000;
$top-header-hover :#e5e5e5;
