<div class="timeline__wrapper">
	<hr _ngcontent-ndq-c57="" data-content="our process" class="hr-text">

	<ul class="timeline">
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">Step 01</span>
					<span class="time-wrapper"><span class="time">search for your course</span></span>
				</div>
				<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia sequi cumque
					similique iusto est nobis reprehenderit quam culpa.</div>
			</div>
		</li>

		<!-- Item 2 -->
		<li>
			<div class="direction-l">
				<div class="flag-wrapper">
					<span class="flag">Stpe 02</span>
					<span class="time-wrapper"><span class="time">Take a Sample Lesson</span></span>
				</div>
				<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia sequi cumque
					similique iusto est nobis reprehenderit quam culpa.</div>
			</div>
		</li>

		<!-- Item 3 -->
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">Step 03</span>
					<span class="time-wrapper"><span class="time">Purchase the Course</span></span>
				</div>
				<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia sequi cumque
					similique iusto est nobis reprehenderit quam culpa.</div>
			</div>
		</li>

	</ul>
</div>