/* ================ Timeline Media Queries ================ */
@import "../../variables.scss";
.timeline__wrapper {
	background-color: #faf8f6;
}
.timeline {
	position: relative;
	width: 660px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
	&:before {
		position: absolute;
		left: 50%;
		top: 0;
		content: ' ';
		display: block;
		width: 12px;
		height: 100%;
		margin-left: -3px;
		background: rgb(80,80,80);
		// background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        z-index: 5;
        background-color: $main-color;
        opacity: .7;
	}
	li {
		padding: 1em 0;
		&:after {
			content: "";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
}
.direction-l {
	position: relative;
	width: 300px;
	float: left;
	text-align: right;
	.flag {
		box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
		&:before {
            position: absolute;
            top: 50%;
            content: " ";
            display: block;
            width: 17px;
            height: 17px;
            margin-top: -10px;
            background: #fff;
            border-radius: 10px;
            border: 4px solid #efa7a7;
            z-index: 10;
            right: -41px;
		}
		&:after {
			content: "";
			position: absolute;
			left: 100%;
			top: 50%;
			height: 0;
			width: 0;
			margin-top: -8px;
			border: solid transparent;
			border-left-color: rgb(248,248,248);
			border-width: 8px;
			pointer-events: none;
		}
	}
	.time-wrapper {
		float: left;
	}
}
.direction-r {
	position: relative;
	width: 300px;
	float: right;
	.flag {
		box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
		&:before {
            position: absolute;
            top: 50%;
            content: " ";
            display: block;
            width: 17px;
            height: 17px;
            margin-top: -10px;
            background: #fff;
            border-radius: 10px;
            border: 4px solid #ff5050;
            z-index: 10;
            left: -36px;
		}
		&:after {
			content: "";
			position: absolute;
			right: 100%;
			top: 50%;
			height: 0;
			width: 0;
			margin-top: -8px;
			border: solid transparent;
			border-right-color: rgb(248,248,248);
			border-width: 8px;
			pointer-events: none;
		}
	}
	.time-wrapper {
		float: right;
	}
	.desc {
		margin: 1em 0 0 0.75em;
	}
}
.flag-wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
}
.flag {
	position: relative;
	display: inline;
	background: rgb(248,248,248);
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
	text-align: left;
}
.time-wrapper {
	display: inline;
	line-height: 1em;
	color: $main-color;
	vertical-align: middle;
}
.time {
	display: inline-block;
	padding: 6px;
	background: rgb(248,248,248);
}
.desc {
	margin: 1em 0.75em 0 0;
	font-size: 0.77777em;
	font-style: italic;
	line-height: 1.5em;
}
@media screen and (max-width: 660px) {
	.timeline {
		width: 100%;
		padding: 4em 0 1em 0;
		li {
			padding: 2em 0;
		}
	}
	.direction-l {
		float: none;
		width: 100%;
		text-align: center;
		.flag {
			&:before {
			    position: absolute;
    top: 50%;
    content: " ";
    display: block;
    width: 17px;
    height: 17px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #dc9191;
    z-index: 10;
    right: -41px;
			}
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: -8px;
				height: 0;
				width: 0;
				margin-left: -8px;
				border: solid transparent;
				border-bottom-color: rgb(255,255,255);
				border-width: 8px;
				pointer-events: none;
			}
		}
		.time-wrapper {
			float: none;
		}
		.desc {
			position: relative;
			margin: 1em 1em 0 1em;
			padding: 1em;
			z-index: 15;
		}
	}
	.direction-r {
		float: none;
		width: 100%;
		text-align: center;
		.flag {
			&:before {
				position: absolute;
				top: -30px;
				left: 50%;
				content: ' ';
				display: block;
				width: 12px;
				height: 12px;
				margin-left: -9px;
				background: #fff;
				border-radius: 10px;
				border: 4px solid rgb(255,80,80);
				z-index: 10;
			}
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: -8px;
				height: 0;
				width: 0;
				margin-left: -8px;
				border: solid transparent;
				border-bottom-color: rgb(255,255,255);
				border-width: 8px;
				pointer-events: none;
			}
		}
		.time-wrapper {
			float: none;
		}
		.desc {
			position: relative;
			margin: 1em 1em 0 1em;
			padding: 1em;
			z-index: 15;
		}
	}
	.flag-wrapper {
		text-align: center;
	}
	.flag {
		background: rgb(255,255,255);
		z-index: 15;
	}
	.time-wrapper {
		display: block;
		position: relative;
		margin: 4px 0 0 0;
		z-index: 14;
	}
	.desc {
		position: relative;
		margin: 1em 0 0 0;
		padding: 1em;
		background: rgb(245,245,245);
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
		-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
		box-shadow: 0 0 1px rgba(0,0,0,0.20);
		z-index: 15;
	}
}
@media  (min-width: 400px ) and (max-width: 660px) {
	.direction-l {
		.desc {
			margin: 1em 4em 0 4em;
		}
	}
	.direction-r {
		.desc {
			margin: 1em 4em 0 4em;
		}
	}
}
