<div class="timeline__wrapper">
    <p>{{'our-process' | translate}}</p>
	<ul class="timeline">
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">{{'Step-01' | translate}}</span>
					<span class="time-wrapper"><span class="time">{{'search-your-course' | translate}}</span></span>
				</div>
				<div class="desc">
					{{'loream' | translate}}
				</div>
			</div>
		</li>

		<!-- Item 2 -->
		<li>
			<div class="direction-l">
				<div class="flag-wrapper">
					<span class="flag">{{'Step-02' | translate}}</span>
					<span class="time-wrapper"><span class="time">{{'Take-Lesson' | translate}}</span></span>
				</div>
				<div class="desc">
					{{'loream' | translate}}
				</div>
			</div>
		</li>

		<!-- Item 3 -->
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">{{'Step-03' | translate}}</span>
					<span class="time-wrapper"><span class="time">{{'purchase-Course' | translate}}</span></span>
				</div>
				<div class="desc">
					{{'loream' | translate}}
				</div>
			</div>
		</li>

	</ul>
</div>