  <!-- accounts view -->
  <div class="accounts_view">
    <div class="accounts_view-title">
      <h3>my account</h3>
      <span class="close_accountView"><i class="fa fa-times"></i></span>
    </div>
    <div class="accounts_view-content">
      <!-- sign in section  -->
      <div class="sign_in">
        <div class="sign_in-title">
          <h4>sign in</h4>
          <p>Welcome back! sign in to your Account</p>
        </div>
        <div class="sign_in-iputs">
          <input type="text" placeholder="Username or email address">
          <input type="text" placeholder="Password">
        </div>
        <div class="sign_in-remember">
          <label class="test">remember me
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <a>help?</a>
        </div>
        <div class="sign_in-btn">
          <button class="temp_button">login</button>
        </div>
      </div>
      <!-- or -->
      <div class="or">
        <span>or</span>
      </div>
      <!-- sign up -->
      <div class="signup">
        <div class="signup-title">
          <h3>create new account</h3>
          <p>Create your own account</p>
        </div>
        <div class="signup-inputs">
          <input type="text" placeholder="First name">
          <input type="text" placeholder="Last name">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
        </div>
        <div class="signup-btn">
          <button class="temp_button">register</button>
        </div>
      </div>
    </div>
  </div>