<div class="wallet-content">
  <div class="side__menu">
    <ul>
      <li>
        <a routerLink="/profile">
          <img src="../../assets/images/profileimg.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'profile' | translate}}</span>
        </a>
      </li>
      <li>
        <a routerLink="/wallet" class="active-side">
          <img src="../../assets/images/Wallet.svg.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'wallet' | translate}}</span>

        </a>
      </li>
      <li>

        <a routerLink="/myCourses">
          <img src="../../assets/images/graduation-cap.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'myCourses' | translate}}</span></a>
      </li>
      <li>

        <a routerLink="/contact-us">
          <img src="../../assets/images/Complaint.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'Complaint-Suggestion' | translate}}</span></a>
      </li>
      <li>
        <a routerLink="/ad-order">
          <img src="../../assets/images/Advertisements orders.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'Advertisements-orders' | translate}}</span></a>
      </li>
      <li>
        <a (click)="logout()" class="logout">
          <img src="../../assets/images/logout.png" alt="" class="side-menu-img">
          <span class="side-txt">{{'logout' | translate}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="wallet">
    <!-- {{'no-wallet-yet' | translate}} -->
    <div class="btns">
      <p >{{'wallet' | translate}}</p>
      <div class="btns-content">
        <button >charge wallet</button>
     </div>
    </div>
   <div class="balance">
    <div class="total-balance">
      <h2>total balance</h2>
      <p>{{amounts?.TotalAmount}}</p>
    </div>
    <div class="total-balance">
      <h2>Total Rewards balance</h2>
      <p>{{amounts?.TotalRewardsAmount}}</p>
    </div>
   </div>
    <div class="orders">
      <h3>your paied orders</h3>
      <ng-container *ngIf="amounts?.StudentTransactions?.length; else noOrders">
        <div class="orders-content" *ngFor="let order of amounts?.StudentTransactions">
          <span>{{order.Amount}} {{order.TransactionTypeName}}</span>
          <p>order number : {{order.ReferenceNumber}}</p>
          <p>Date: {{order.CreationDate}}</p>
        </div>
      </ng-container>
      <ng-template #noOrders>
        <p style="min-height: 100px;text-align: center;margin-top: 20px;">there are not orders yet</p>
      </ng-template>
    </div>
  </div>
</div>  