@import "../variables.scss";
:host {
    .wallet {
        height: 100vh;
        position: relative;
        top: 100px;
        margin-left: 300px;
        font-size: 22px;
        text-transform: capitalize;
        @media (max-width: 768px) {
            margin-left: 80px;
        }
        [dir= rtl] & {
            margin-left: 0;
            margin-right: 300px;
            @media (max-width: 768px) {
                margin-right: 80px;
                margin-left: 10px;
            }
        }
    }
    .wallet-content {
        background: #e8ecf5;
    }
    .total-balance {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        background: #fff;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        @media (max-width: 768px) {
            width: 90%;
        }
        a {
            font-size: 16px;
            color: $main-color;
            font-weight: bold;
            cursor: pointer;
        }
       
        h2 {
            margin-bottom: 15px;
            color: $main-color;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 30px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
    .orders {
        margin-left: 60px;
        @media (max-width: 768px) {
            margin-left: 15px;
        }
        h3 {
           
            width: fit-content;
            margin: 0 auto;
            border-bottom: 2px solid #000;
            padding-bottom: 5px;
            font-size: 18px;
             margin-top: 40px;
        }
        .orders-content {
            margin-top: 40px;
            width: 90%;
            background: #fff;
            padding: 20px;
            margin-bottom: 30px;   
            @media (max-width: 768px) {    
             text-align: center;
             [dir= rtl] & {
                margin: 0 auto;
                margin-top: 50px;
             }
            } 
            span {
                background-color: $main-color;
                padding: 10px;
                color: #fff;
                font-size: 16px;
            }   
            p {
                display: inline-block;
                margin-left: 50px;
                @media (max-width: 768px) {
                    margin: 15px 0;
                    font-size: 20px;
                }
            } 
        }
    }
}