<div class="profile">
  <ng-container *ngIf="loading; else loaded">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </ng-container>
  <ng-template #loaded>
    <div class="btns">
      <p>{{'profile' | translate}}</p>
      <div>
        <button (click)="showPopUp()">{{'change-password' | translate}}</button>
      <a routerLink="/edit-profile">
        <button (click)="editProfile()">{{'edit-profile' | translate}}</button>
      </a>
      </div>
    </div>
    <div class="profile-content">
      <div class="top">

      </div>
      <div class="bottom">
      
      
        <div class="details-content" *ngIf="profile?.Email">
          <img src="../../assets/images/email.png" alt="">
          <p>{{profile?.Email}}</p>
        </div>
  
        <div class="details-content">
          <img src="../../assets/images/phone-outline.png" alt="">
          <p>{{profile?.PhoneNumber}}</p>
        </div>
        <div class="details-content">
          <img src="../../assets/images/graduation-cap.png" alt="">
          <p>
            <ng-container *ngIf="checkLang== 'en'">{{profile?.Category.Name}}</ng-container>
            <ng-container *ngIf="checkLang== 'ar'">{{profile?.Category.NameLT}}</ng-container>
          </p>
        </div>
        <div class="details-content" *ngIf="profile?.MyReferralCode">
          <img src="../../assets/images/Referralcode.png" alt="">
          <p>{{profile?.MyReferralCode}}</p>
        </div>
        <!-- <div class="details-content" *ngIf="profile?.Email">
          <img src="../../assets/images/country.png" alt="">
          <p>{{profile?.Email}}</p>
        </div> -->
      </div>
      <div class="user-img">
        <div class="user-img-container">
          <label class="hoverable" for="fileInput">
            <ng-container *ngIf="profile?.ProfileImage; else noProfile">
              <img [src]="pathImage + profile?.ProfileImage">
             </ng-container>
             <ng-template #noProfile>
                 <img src="../../assets/images/profileimg.png" alt="">
             </ng-template>
            <div class="hover-text"><i class="fa fa-camera"></i></div>
          </label>
          <input id="fileInput" type='file' (change)="handleInputChange($event)">
          <p>
             <span>{{profile?.Name}}</span></p>
          <span class="bio">{{profile?.Bio}}</span>
          <div class="changeLoading" *ngIf="changeLoading">
            <div class="lds-ripple"><div></div><div></div></div>
          </div>
        </div>
       
      </div>
    </div>

  </ng-template>
  <div class="side__menu">
    <ul>
      <li>
        <a routerLink="/profile" class="active-side">
          <img src="../../assets/images/profileimg.png" alt="" class="side-menu-img">
          {{'profile' | translate}}
        </a>
      </li>
      <li>
        <a routerLink="/wallet">
          <img src="../../assets/images/Wallet.svg.png" alt="" class="side-menu-img">
          {{'wallet' | translate}}</a>
      </li>
      <li>
     
        <a routerLink="/myCourses">
          <img src="../../assets/images/graduation-cap.png" alt="" class="side-menu-img">
          {{'myCourses' | translate}}</a>
      </li>
      <li>
        
        <a routerLink="/contact-us">
          <img src="../../assets/images/Complaint.png" alt=""  class="side-menu-img">
          {{'Complaint-Suggestion' | translate}}</a>
      </li>
      <li>
        <a routerLink="/ad-order">
          <img src="../../assets/images/Advertisements orders.png" alt="" class="side-menu-img">
          {{'Advertisements-orders' | translate}}</a>
      </li>
      <li>
        <a (click)="logout()" class="logout">
          <img src="../../assets/images/logout.png" alt="" class="side-menu-img">
          {{'logout' | translate}}
        </a>
      </li>
    </ul>
  </div>
  <div class="change-password-popup" [ngClass]="{'show-pop-up' : showPopup}">
    <div class="change-password">
      <div class="change-password-container">
        <div class="alert alert-danger" *ngIf="chageError">{{chageError}}</div>
        <form [formGroup]="chageForm" (ngSubmit)="changePassword()">
          <input type="password" placeholder="{{'entre-old-password' | translate}}" formControlName="oldPassword">
          <input type="password" placeholder="{{'entre-new-password' | translate}}" formControlName="newPassword">
          <input type="password" placeholder="{{'confirm-password' | translate}}" formControlName="confirmPassword">
          <div *ngIf="confirmPassword.touched && confirmPassword.value !== newPassword.value"
            class="alert alert-danger">
            {{'passwords-not-match' | translate}}
          </div>
          <button [disabled]='!chageForm.valid'>{{'send' | translate}}
            <!-- <i class="fa fa-spinner fa-spin ml-2" *ngIf="Loading"></i> -->
          </button>
        </form>
        <div class="close-btn" (click)="showPopUp()">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</div>