@import "../../variables.scss";

:host {
  .no-Courses {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 25%;
    height: 100%;
    width: 100%;
  }

  .hide-filter {
    position: absolute;
    left: -400px;
  }

  .filter_box {
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;

    a {
      color: #000;
    }

    .taxons-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $main-color;
      width: 100%;

      a {
        color: $main-color;
        font-size: 20px;
        font-weight: 800;
      }
    }

    .filter_box-title {
      h3 {
        font-size: 20px;
        font-weight: 600;
        color: $main-color;
      }

      i {
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      .rotate {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .checkbox {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      cursor: pointer;
      position: relative;

      >input {
        border: 2px solid #777;
        border-radius: 5px;
        height: 17px;
        width: 17px;
        appearance: none;
        outline: none;
        transition-duration: 0.3s;
        cursor: pointer;

        &:checked {
          + {
            span {
              &:before {
                content: "\2713";
                display: block;
                text-align: center;
                color: #000;
                position: absolute;
                left: 3px;
                top: 2px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .filter_colors {
    .checkbox {
      >input {
        border: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;

        &:checked {
          + {
            span {
              &:before {
                left: 5px;
                top: 3px;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
      }

      .green {
        &:checked {
          background-color: #41b883;
        }
      }

      >input.green {
        background-color: #41b883;
      }

      .red {
        &:checked {
          background-color: red;
        }
      }

      >input.red {
        background-color: red;
      }

      .black {
        &:checked {
          background-color: #000;
        }
      }

      >input.black {
        background-color: #000;
      }
    }
  }

  .subtaxon-title {
    display: flex;
    margin-bottom: 5px;
    margin-left: 20px;

    input {
      width: fit-content;
      margin-right: 10px;
      margin-top: 5px;
    }

    label {
      margin: 0;
    }
  }

  .filter {
    padding: 20px 15px;
    border: 1px solid #ddd;
    background-color: #fff;

    // margin-bottom: 70px;
    @media (max-width: 992px) {
      border: 0;
    }

    .row_head {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      justify-content: space-between;

      p {
        &:last-of-type {
          width: 10%;
        }

        &:nth-last-of-type(2) {
          width: 74%;
        }
      }

      .checkbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .bg_checkbox {
        border-radius: 6px;
        background: #fff;
        border: 2px solid #777;
        height: 17px;
        width: 17px;
        margin-bottom: 2px;
      }
    }

    ul {
      line-height: 1.8;
      color: #777;
      text-transform: capitalize;
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 20px;

      li {
        margin-bottom: 20px;
      }
    }

  }

  .close {
    width: 100%;
    text-align: right;
    display: none;

    i {
      font-size: 24px;
      color: red;
      cursor: pointer;
    }

    @media (max-width: 992px) {
      display: block;
    }
  }

  input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  label {
    cursor: pointer;
    margin: 0;
  }


  // .subtaxon {
  //     height: 0;
  //     opacity: 0;
  //     visibility: hidden;

  // }
  .view-sub {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .classes-wrapper {
    min-height: 500px;

    .lds-ripple {
      top: 300px;
    }
  }

  .course-col {
    max-width: 25%;
    flex-basis: 25%;
    padding: 0 5px;

    @media (max-width: 420px) {
      max-width: 100%;
      flex-basis: 100%;
      padding: 0 30px;
    }

    @media (min-width: 420.1px) and (max-width: 768px) {
      max-width: 50%;
      flex-basis: 50%;
      padding: 0 5px;
    }
  }

  .show-filter {
    left: 0 !important;

    [dir=rtl] & {
      left: auto !important;
      right: 0 !important;
    }
  }

  .filter-btn {
    margin-bottom: 30px;
    display: none;

    @media (max-width: 992px) {
      display: block;
      margin-left: 30px;

      [dir=rtl] & {
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }

  .course-col {
    max-width: 25%;
    flex-basis: 25%;
    padding: 0 5px;

    @media (max-width: 420px) {
      max-width: 100%;
      flex-basis: 100%;
      padding: 0 30px;
    }

    @media (min-width: 420.1px) and (max-width: 768px) {
      max-width: 50%;
      flex-basis: 50%;
      padding: 0 5px;
    }
  }

  .filter-btn {
    margin-bottom: 30px;
    display: none;

    @media (max-width: 992px) {
      display: block;
    }
  }

  .classes-wrapper {
    display: flex;
    top: 120px;
    margin-bottom: 70px;
    position: relative;

    .classes-categories-wrapper {
      width: 35%;
      display: flex;

      .main-categories-holder {
        width: 60%;
      }

      .sub-categories-holder {
        width: 50%;
        text-align: center;
        padding: 0 20px;
        padding-top: 40px;
        border: 1px solid #ddd;
        border-left: 0;
        overflow: auto;

        [dir=rtl] & {
          border-left: 1px solid #ddd;
          border-right: 0;
        }

        p {
          font-size: 20px;
          font-weight: bold;
          text-transform: capitalize;
          line-height: 2;
        }

        ul {
          display: flex;
          flex-direction: column;

          >li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-bottom: 20px;
            transition: background-color ease-in 0.4s;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            label {
              padding: 10px;
            }

            &.active,
            &:hover {
              background-color: #5E2266;

              label {
                color: #FFF;
              }
            }

            a {
              color: #5E2266;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }

      @media (max-width: 992px) {
        display: none;
      }
    }

    .classes-veiw-wrapper {
      width: 45%;
      padding: 0 35px;

      .classes-list-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .class-card {
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        border-radius: 10px;
        padding: 25px 20px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        transition: all ease-in 0.4s;
        border: 1px solid #f5f5f5;
        &.active,
        &:hover {
          border: 1px solid $main-color;
        }

        >.content {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .class-name {
          color: #000;
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      .class-auther-info {
        display: flex;
        flex-direction: column;
      }

      .about-auther {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .auther-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 8px;

          [dir=rtl] & {
            margin-left: 8px;
            margin-right: 0;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: contain;
          }
        }

        .auther-info {
          h3 {
            color: #000;
            font-size: 15px;
            font-weight: bold;
            // margin-bottom: 5px;
          }

          p {
            color: #DDD;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .about-class {
        >div {
          display: flex;
          align-items: center;

          i {
            margin-right: 5px;

            [dir=rtl] & {
              margin-left: 5px;
              margin-right: 0;
            }
          }

          p {
            color: #000;
            font-size: 14px;
          }
        }
      }

      .class-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5px;

        [dir=rtl] & {
          margin-right: 5px;
          margin-left: 0;
        }

        h2 {
          color: #000;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 30px;

          span {
            font-size: 13px;
            font-weight: 400;
            color: #DDD;
          }
        }

        a {
          border: 1px solid #5E2266;
          padding: 7px 15px;
          text-transform: capitalize;
          border-radius: 10px;
          color: #5E2266;
          background: #fff;
          transition: all ease-in 0.4s;
           
          &:hover {
            background: #5E2266;
            color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          }
        }
      }

      @media (max-width: 992px) {
        width: 50%;
        padding: 0;
      }
    }

    .classes-detailes-wrapper {
      width: 30%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .bluer-header {
        height: 300px;
        width: 100%;
        background: #F5F7F8;
      }

      .auther-img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: auto;
        margin-top: -80px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: contain;
          position: relative;
          z-index: 4;
        }
      }

      h2 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin-top: 16px;
        margin-bottom: 10px;
      }

      .classes-detailes {
        flex: 1;
      }

      .about-teacher {
        font-size: 16px;
        text-align: center;
        color: #DDD;
        width: 75%;
        margin: auto;
      }

      .time-holder {
        margin-top: 100px;
      }

      .time--title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        i {
          margin-right: 10px;
          font-size: 25px;

          [dir=rtl] & {
            margin-left: 10px;
            margin-right: 0;
          }
        }

        h3 {
          font-size: 22px;
          font-weight: bold;
          text-align: center;
          color: #000;
        }
      }

      .time-table {
        display: flex;
        flex-direction: column;

        >.time-row {
          display: flex;
          margin-bottom: 20px;
        }

        .time--day {
          font-size: 18px;
          color: #000;
          font-weight: bold;
          margin-right: 15px;
        }
      }

      .time-list-holder {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
        gap: 10px;
        width: 100%;

        button {
          border: 1px solid #5E2266;
          padding: 7px 15px;
          text-transform: capitalize;
          border-radius: 10px;
          color: #5E2266;
          background: #fff;
          transition: all ease-in 0.4s;

          &:hover {
            background: #5E2266;
            color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          }
        }
      }

      @media (max-width: 992px) {
        padding: 0 30px;
        width: 50%;
      }
    }
  }
}
