a {
    color: inherit;
}
::ng-deep {
    .br-unit {
        font-size: 23px !important;
    }
    .br-unit:after {
        content: "\2605" !important;
        color: #231F20 !important;
    }
    .br {
        margin: 0 !important;
    }
    .br-default .br-selected:after {
        color: #EDB867 !important;
    }
}
.product_rating {
    text-align: center;
    display: flex;
    justify-content: center;
}
.cart  {
    padding-bottom: 0;
    margin-bottom: 30px;
    .cart_deatils {
        margin: 0;
        padding: 15px 0;
    }
}