a {
    color: inherit;
}
::ng-deep {
    .br-unit {
        font-size: 23px !important;
    }
    .br-unit:after {
        content: "\2605" !important;
        color: #231F20 !important;
    }
    .br {
        margin: 0 !important;
    }
    .br-default .br-selected:after {
        color: #EDB867 !important;
    }
}
.product_rating {
    text-align: center;
    display: flex;
    justify-content: center;
}
.cart  {
    padding-bottom: 0;
    margin-bottom: 30px;
    .cart_deatils {
        margin: 0;
        padding: 15px 0;
    }
}
.error-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    height: 42px;
    width: 200px;
    background: red;
    transform: translate(-50%, -50%);
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.wishlist_icon {
    background: #fff;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   img {
    height: 12px;
   }
}