/* You can add global styles to this file, and also import other style files */
@import "app/variables.scss";
*:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover {
    text-decoration: none;
    color: #000;
}
input:focus,input:active {
    box-shadow: none;
    outline: none;
}
.tittle_innerpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    text-transform: capitalize;
}
button {
    border: 0;
    background: $second-color;
    padding: 7px 15px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 10px;
}

.hr-text {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
    max-width: 50%;
    margin: 0 auto 40px;
    text-align: center;
    &::before {
        content: "";
        background: linear-gradient(90deg,transparent,#000,transparent);
        position: absolute;
        left: 0;
        top: 74%;
        width: 100%;
        height: 1px;
    }
    &::after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: #000;
        padding: 0 .5em;
        line-height: 1.5em;
        background-color: #fff;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 700;
    }
}

// view mora button
.view__more-btn {
    text-transform: uppercase;
    padding: 12px 24px;
    background: #fff;
    color: #000;
    border: 1.5px solid $main-color;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    &:before {
        left: 48%;
  }
  > span {
      display: inline-block;
      transition: all 0.5s;
  }
  }
  .icon-forward:before {
    content: "→";
    position: absolute;
  }
  .btn-1:before {
      left: -100%;
    transition: all 0.5s;
  }
  .btn-1:hover:before {
      left: 48%;
  }
  .btn-1:hover > span {
      transform: translateX(300%);
  }

input {
    width: 100%;
    border: 0;
    padding: 10px 0;
    border-bottom: 1.5px solid #8e8e8e;
  }
p,h1,h2,h3,h4 {
    margin: 0;
}
button:focus {
 outline: none;
}
.new_price {
    color: #5E2266;
    font-size: 18px;
    font-weight: 600;
}
.original_price {
    text-decoration: line-through;
    font-size: 14px;
}
// cart view

.cart {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: relative;
	padding-bottom: 10px;
	.cart_img {
		padding: 20px 20px 0;
		text-align: center;
		background-color: #eee;
		cursor: pointer;
		position: relative;
		height: 270px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		img {
			max-height: 250px;
			padding: 20px;
		}
	}
	.image {
		display: block;
		width: 100%;
		height: auto;
	}
	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #eee;
		overflow: hidden;
		width: 0;
		height: 100%;
		-webkit-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		transition: 0.5s ease;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.text {
		color: #fff;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}
	.cart_deatils {
		text-align: center;
		margin: 15px 0;
		.product_name { margin: 5px 0;
		.product_price {
			color: #b33939;
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 5px;
		}
	}
	

	.viewbtn_mobile {
		position: absolute;
		bottom: -45px;
		width: 100%;
		left: 50%;
		-webkit-transform: translate(-50%, -25px);
		-ms-transform: translate(-50%, -25px);
		transform: translate(-50%, -25px);
		background: #b33939;
		padding: 3px;
		color: #fff;
		text-transform: capitalize;
		font-size: 14px;
		border-radius: 0 0 10px 10px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
} 
	.cart {
		.cart_deatils {
			.product_name {
				h3 {
					font-weight: 600;
					text-transform: capitalize;
					font-size: 22px;
				}
			}
		}
	}

@media (max-width: 768px) {
	.cart {
		.cart_img {
			img {
				max-height: 200px;
			}
			overflow: hidden;
			height: 222px;
		}
		.cart_deatils {
			.product_name {
				h3 {
					font-size: 15px;
					margin-bottom: 7px;
				}
			}
			.product_price {
				font-size: 15px;
				margin-bottom: 7px;
			}
			padding: 0 15px;
		}
		.product-labels {
			>div {
				font-size: 13px;
			}
			margin-top: 5px;
		}
	}
}
@media (min-width: 992px) {
	.cart {
		.product-icons {
			.view_product-icon {
				display: none;
			}
		}
		.viewbtn_mobile {
			display: none;
		}
	}
}
.product-icons {
    font-size: 18px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    color: #000;
    position: absolute;
    z-index: 222;
    right: -5px;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    a {
        >div {
            margin-top: 7px;
        }
    }
    >div {
        margin-top: 7px;
        cursor: pointer;
        &:hover {
            color: #b33939;
        }
    }
    i {
        border: 1px solid #fff;
        background: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}
.product-labels {
    color: #fff;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    top: 0;
    .new {
        background-color: #79ca19;
    }
    .discount {
        background-color: #00f;
    }
    .outofstock {
        background-color: #f2475f;
    }
    >div {
        padding: 3px 12px;
        border-radius: 15px;
        font-size: 14px;
        width: fit-content;
        margin-top: 10px;
        &:first-of-type {
            margin: 0;
        }
    }
}
.cart:hover {
    .product-icons {
        opacity: 1;
        visibility: visible;
        right: 8px;
    }
    .cart_img {
        .overlay {
            width: 100%;
        }
    }
}
body {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}
