/* You can add global styles to this file, and also import other style files */
@import "app/variables.scss";
*:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover {
    text-decoration: none;
    color: #000;
}
input:focus,input:active {
    box-shadow: none;
    outline: none;
}
.tittle_innerpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    text-transform: capitalize;
}
button {
    border: 0;
    background: $second-color;
    padding: 7px 15px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 10px;
}

.hr-text {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
    max-width: 50%;
    margin: 0 auto 40px;
    text-align: center;
    &::before {
        content: "";
        background: linear-gradient(90deg,transparent,#000,transparent);
        position: absolute;
        left: 0;
        top: 74%;
        width: 100%;
        height: 1px;
    }
    &::after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: #000;
        padding: 0 .5em;
        line-height: 1.5em;
        background-color: #fff;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 700;
    }
}

// view mora button
.view__more-btn {
    text-transform: uppercase;
    padding: 12px 24px;
    background: #fff;
    color: #000;
    border: 1.5px solid $main-color;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    &:before {
        left: 48%;
  }
  > span {
      display: inline-block;
      transition: all 0.5s;
  }
  }
  .icon-forward:before {
    content: "→";
    position: absolute;
  }
  .btn-1:before {
      left: -100%;
    transition: all 0.5s;
  }
  .btn-1:hover:before {
      left: 48%;
  }
  .btn-1:hover > span {
      transform: translateX(300%);
  }

input {
    width: 100%;
    border: 0;
    padding: 10px 0;
    border-bottom: 1.5px solid #8e8e8e;
  }
p,h1,h2,h3,h4 {
    margin: 0;
}
button:focus {
 outline: none;
}
.new_price {
    color: #5E2266;
    font-size: 18px;
    font-weight: 600;
}
.original_price {
    text-decoration: line-through;
    font-size: 14px;
}
body {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}
