<div class="container">
  <div class="home-wrapper">
    <div class="home-content-wrapper">
        <div class="home-hero">
            <img src="../../assets/images/animation_500_ke67z0m9.gif" alt="">
            <div class="home-hero--search">
                <h4>Hi Omar,</h4>
                <h3>what do you wanna learn?</h3>
            </div>
        </div>
        <div class="home-page-content">
            
        </div>
    </div>

    <aside class="profile-details">
      <div class="profile-header">
        <div class="about-profile">
          <div class="profile-img">
            <img
              src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
              alt=""
            />
          </div>
          <div class="profile-info">
            <h3>Omar Ahmed</h3>
            <p>online</p>
          </div>
        </div>
        <div class="statistics-holder">
          <div>
            <p>score</p>
            <h3>9.7</h3>
          </div>
          <div>
            <p>online</p>
            <h3>1111</h3>
          </div>
          <div>
            <p>courses</p>
            <h3>3</h3>
          </div>
        </div>
      </div>
      <div class="profile-content">
          <div class="tabs-header">
              <h4 class="active">Courses</h4>
              <h4>Classes</h4>
              <h4>Profile</h4>
          </div>
      </div>
    </aside>
  </div>
</div>
