@import "../../variables.scss";
:host {
    display: flex;          // by me
    align-items: center;    // by me
    flex-direction: column; // by me
    // margin-bottom: 500px;   // by me
    background-color: #F5F7F8;
    .back {
      margin-top: 30px;
      text-align: left;
      width: 100%;
      margin-left: 150px;
      text-transform: capitalize;
      color: $main-color;
      [dir= rtl] & {
        margin-left: 0;
        margin-right: 30px;
        text-align: right;
      }
    }
    .login {
      position: relative;
      top: 30px;
      margin-bottom: 150px;
      [dir= rtl] & {
        text-align: right;
      }
      .login-phone {
        display: flex;
        align-items: center;
        select {
          border: 1.5px solid #8e8e8e;
          padding: 5px 10px;
          margin-right: 20px;
          [dir= rtl] & {
            margin-right: 0;
            margin-left: 20px;
          }
        }
      }
     
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;

      &__wrapper {
        // border-right: 1px solid #cac9c9;
        // [dir= rtl] & {
        //   border-right: 0;
        //   border-left: 1px solid #cac9c9;
        // }
        form {
          // width: 70%;
          .form-group {
            margin-bottom: 1px;

            select{
              border: none;
              color: #cccccc;
              padding: 1px 2px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 13px;
              margin: 4px;
              width: 17%;
              margin-left: 35px;   // by me
              // border: 2px solid #f6f6f6;
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -ms-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
              -webkit-border-radius: 5px 5px 5px 5px;
              border-radius: 5px 5px 5px 5px;
              // direction: rtl;
              border: 0.5px solid #dce8f1;
              padding: 12px 12px 12px 12px;
            }
          }
          button{
            height: 50px;
            margin-top: 5px;
          }
        }
          // by me
        .formFooter {
          background-color: #f6f6f6;
          border-top: 1px solid #dce8f1;
          padding: 25px;
          text-align: center;
          -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
          width: 107%;
          margin-left: -15px;
          margin-top: 20px;

          a {
            width: 50%;
            color: $main-color;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
            text-transform: capitalize;
            cursor: pointer;
          }
        }

        h3 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      } 

      &__saved {
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #8e8e8e;
        font-size: 16px;
        a {
          color: #1d1d1d;
          font-size: 16px;
          text-decoration: underline;
        }
       }
       &__btn {
         button {
           background: $main-color;
           color: #fff;
           opacity: 1;
          //  padding: 10px;
          //  font-size: 18px;              // by me
           margin: 20px 0px 30px 0;
          //  text-transform: capitalize;   // by me

          //  by me
          border: none;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
          box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
          margin: 5px 20px 40px 20px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          width:100%;
          // padding: 40px 15px;
         }
       }
      h3 {
        text-transform: capitalize;
        font-weight: 500;
        color: #000;
        font-size: 35px;
        letter-spacing: 0.04em;
        font-family: "Lalezar", cursive;
      }
      .new__account {
        margin-left: 20%;
        [dir= rtl] & {
          margin-left: 0;
          margin-right: 20%;
        }
        h3 {
          margin-bottom: 20px;
        }
        p {
          text-transform: capitalize;
          font-weight: 500;
          color: #000;
          letter-spacing: 0.04em;
          font-family: "Lalezar", cursive;
          // margin-bottom: 40px;
          &:first-of-type {
            font-size: 35px;
          }
        }
        ul {
          li {
            display: flex;
            margin-bottom: 25px;
            font-size: 16px;
            align-items: center;
            font-weight: 500;
            text-transform: capitalize;
            span {
              margin-left: 10px;
              [dir= rtl] & {
                margin-left: 0;
                margin-right: 10px;
              }
            }
          }
        }
        .create-account {
          // margin-top: 40px;
          text-transform: capitalize;
          button {
            width: 170px;
            height: 50px;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
      .socail_login {
        p {
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 20px;
        }
        .buttons {
          display: flex;
          button {
            width: 175px;
            text-align: center;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            font-size: 16px;
          }
          .facebook {
            background: #1877f2;
            color: #fff;
            margin-right: 20px;
            [dir=rtl] & {
            margin-left: 20px;
            margin-right: 0;
            }
            i {
              margin-left: 10px;
              font-size: 20px;
              [dir= rtl] & {
                margin-left: 0;
                margin-right: 10px;;
              }
            }
          }
          .google {
            border: 1.5px solid #8e8e8e;
            color: #8e8e8e;
            font-weight: 600;
            background-color: #fff;
            img {
              max-height: 20px;
              margin-left: 10px;
              [dir= rtl] & {
                margin-left: 0;
                margin-right: 10px;;
              }
            }
          }
        }
        .terms {
          margin-top: 15px;
          a {
            text-decoration: underline;
            color: #8e8e8e;
            font-size: 16px;
            margin: 0 3px;
          }
          p {
            color: #8e8e8e;
            font-size: 16px;
            font-weight: 400;
            display: flex;
          }
        }
      }
      .our-rtl {
        display: none;
        [dir= rtl] & {
          display: block;
        }
      }
      .our-lrl {
        display: block;
        margin: 0 3px;
        [dir=rtl] & {
          display: none;
        }
      }
    }
    .forget {
      font-size: 14px;

      a {
        text-decoration: underline;
        color: $main-color;
        text-transform: capitalize;

        width:50%;
      }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #8e8e8e;
      opacity: 1; /* Firefox */
      font-size: 14px;
      font-weight: 500;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #8e8e8e;
      font-size: 14px;
      font-weight: 500;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #8e8e8e;
      font-size: 14px;
      font-weight: 500;
    }
    
    .lds-ripple {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .error {
      width: 90%;
      margin: 0 auto;
    }
  }

  input[type=number]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 65%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid $main-color
    ;
  }
  
  input[type=number]:placeholder{
    color: #cccccc;
  }
  
  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid $main-color
    ;
  }
  
  input[type=password]:placeholder , select{
    color: #cccccc;
  }
  

  