@import "../../variables.scss";
.footer {
	position: relative;
	background-color: $main-color;
	color: #fff;
	.footer_details {
		color: #000;
		padding: 50px 0;
		h3 {
			font-size: 25px;
			margin-bottom: 20px;
			text-transform: capitalize;
			font-weight: 600;
			color: #fff;
		}
		p {
			line-height: 1.7;
			text-align: left;
			color: #fff;
		}
		ul {
			line-height: 1.5;
			li {
				cursor: pointer;
				color: #fff;
				margin-top: 5px;
				padding-bottom: 5px;
				position: relative;
				display: block;
			}
		}
	}
	.newsletter {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #000;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: #b33939;
		padding: 15px 0;
		color: #fff;
		p {
			margin-right: 30px;
			font-size: 22px;
			text-transform: capitalize;
		}
		input {
			border: 0;
			height: 44px;
			outline: none;
			color: #909090;
			padding: 9px 22px;
			border-radius: 10px;
			display: block;
			min-width: 400px;
		}
		span {
			margin-left: 30px;
			font-size: 25px;
		}
	}
}
.link {
	border-radius: 10px;
	font-size: 20px;
	margin-left: 20px;
	text-decoration: none;
	position: relative;
	z-index: 0;
	cursor: pointer;
	text-transform: capitalize;
	overflow: hidden;
	padding: 8px 12px;
	color: #b33939;
	-webkit-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		-webkit-transform: translateY(calc(100% - 2px));
		-ms-transform: translateY(calc(100% - 2px));
		transform: translateY(calc(100% - 2px));
		width: 100%;
		height: 100%;
		background-image: -o-linear-gradient(30deg, #000 0, #ccc 100%);
		background-image: linear-gradient(60deg, #000, #ccc);
		-webkit-transition: -webkit-transform 0.25s ease-out;
		transition: -webkit-transform 0.25s ease-out;
		-o-transition: transform 0.25s ease-out;
		transition: transform 0.25s ease-out;
		transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
	}
	&:hover {
		color: #fff;
		&:before {
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			-webkit-transition: -webkit-transform 0.25s ease-out;
			transition: -webkit-transform 0.25s ease-out;
			-o-transition: transform 0.25s ease-out;
			transition: transform 0.25s ease-out;
			transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
		}
	}
}
.bottom_footer {
	background-color: #494949;
	padding: 15px 0;
	.bottom_footer-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #fff;
	}
}
@media (max-width: 768px) {
	.footer {
		.footer_details {
			h3 {
				font-size: 22px;
				margin-bottom: 10px;
			}
			p {
				text-align: center;
			}
			ul {
				li {
					margin: 0;
				}
			}
			padding: 20px 0;
		}
		.newsletter {
			p {
				font-size: 18px;
				margin-bottom: 10px;
			}
			input {
				min-width: 300px;
				margin: 0 auto 25px;
				height: 40px;
				font-size: 16px;
			}
			display: block;
			text-align: center;
			padding: 30px 0;
		}
		text-align: center;
	}
	.link {
		&:before {
			display: none;
		}
		background: #fff;
		font-size: 16px;
		color: #b33939 !important;
		margin: 0;
		padding: 5px 20px;
		font-weight: 600;
	}
	.bottom_footer {
		.bottom_footer-content {
			display: block;
		}
	}
}


.social_links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	li {
		list-style: none;
		a {
			width: 40px;
			height: 40px;
			background-color: #fff;
			text-align: center;
			line-height: 80px;
			font-size: 18px;
			margin: 0 10px;
			display: flex;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			border: 3px solid #fff;
			z-index: 1;
			align-items: center;
			justify-content: center;
			.icon {
				position: relative;
				color: #262626;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				z-index: 3;
			}
			&:hover {
				.icon {
					color: #fff;
					transform: rotateY(1turn);
				}
				&:before {
					top: 0;
				}
			}
			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: red;
				transition: 0.5s;
				z-index: 2;
			}
		}
		&:first-child {
			a {
				&:before {
					background: #3b5999;
				}
			}
		}
		&:nth-child(2) {
			a {
				&:before {
					background: #55acee;
				}
			}
		}
		&:nth-child(3) {
			a {
				&:before {
					background: #0077b5;
				}
			}
		}
		&:nth-child(4) {
			a {
				&:before {
					background: #dd4b39;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.social_links {
		margin-top: 20px;
		justify-content: center;
	}
}
