<div class="footer">  
    <!-- footer details -->
    <div class="footer_details">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3 mb-4 mb-md-0">
            <h3>novodux</h3>
            <p>
                is an Egyptian Leader & Innovator in Healthcare training & Consultancy in the MENA region . Prepare your team for Health aging challenges.

                Ageing populations ,Changing morbidities & rapid development in medicine & technology are creating challenges for health systems globally.
                
                You can prepare your team to meet these challenges with Us
            </p>
          </div>        
          <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
            <h3>my account</h3>
            <ul>
              <li>Sign In</li>
              <li>Sign up</li>
              <li>My Wishlist</li>
              <li>My cart</li>
            </ul>
          </div>
          <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
            <h3>Useful Links</h3>
            <ul>
              <li>About Us</li>
              <li>Shop</li>
              <li>Contact us</li>
            </ul>
          </div>
          <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
            <img src="../../../assets/images/appstore.png" alt="" class="mb-4">
            <img src="../../../assets/images/googleapp.png" alt="">
            <ul class="social_links">
              <li>
                <a>
                  <i class="fa fa-facebook-f icon"></i> </a>
              </li>
              <li>
                <a><i class="fa fa-twitter icon"></i></a>
              </li>
          
            </ul>
          </div>
        </div>
      </div>

    </div>

  
  </div>