<ng-container *ngIf="orders?.length; else noOrders">
    <div class="ad-order">
        <div class="container">
            <div class="ad-order-content" *ngFor="let order of orders; let i= index">
                <span>{{i+1}}- </span>
                <p class="order-status">{{order?.AdvertisementOrderStatusName}}</p>
                <p>{{order?.Message}}</p>
                <p>{{order?.CreationDate}}</p>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noOrders>

    <div class="ad-order-empty">
        <p>
            {{'no-orders' | translate}}
        </p>
    </div>
 
</ng-template>